<div v-if="fonts">
    <table>
        <tr>
            <td>
                <span class="field-description">Font Name:</span>
            </td>
            <td>
                <select v-model="modelValue.face" @change="update()">
                    <option v-for="font in fonts" :value="font.name">{{ font.name }}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <span class="field-description">Font Renderer:</span>
            </td>
            <td>
                <select v-model="modelValue.renderer" @change="update()">
                    <option value="AWT">AWT (Java Abstract Window Toolkit)</option>
                    <option value="STB">STB (From LWJGL)</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <span class="field-description">Font Size:</span>
            </td>
            <td>
                <input type="number" class="w4" min="8" max="100" v-model="modelValue.size" @change="update()">
            </td>
        </tr>
        <tr v-if="modelValue.renderer == 'AWT'">
            <td>
                <span class="field-description">Anti-Aliasing:</span>
            </td>
            <td>
                <switch-checkbox v-model="modelValue.antiAliasing" @change="update()"></switch-checkbox>
            </td>
        </tr>
        <tr>
            <td>
                <span class="field-description">Letter Spacing:</span>
            </td>
            <td>
                <input type="number" class="w4" min="-10" max="10" step="0.25" v-model="modelValue.letterSpacing" @change="update()">
            </td>
        </tr>
        <tr>
            <td>
                <span class="field-description">Line Spacing:</span>
            </td>
            <td>
                <input type="number" class="w4" min="-50" max="50" step="1" v-model="modelValue.lineSpacing" @change="update()">
            </td>
        </tr>
    </table>
</div>