div.entity-list {
    flex-grow: 1;
    flex-basis: 15em;
    border: 1px solid;
    border-radius: 0.7em;
    overflow-y: auto;
    font-family: var(--font2);
    border-color: var(--borderColorTop) var(--borderColorRight) var(--borderColorBottom) var(--borderColorLeft);
    box-shadow: 0.1em 0.1em 0.6em black;
    padding: 0.5em;
}

div.entity-list > table {
    width: 100%;
    border-collapse: collapse;
}

div.entity-list > table td {
    border-bottom: 0.1em solid var(--borderColorTop);
    padding: 0.3em 0.1em 0.4em 0.1em;
}

div.entity-esp div.checkboxes {
    display: flex;
    gap: 0.5em;
}

div.entity-esp div.v-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.15em;
}

div.entity-esp button.edit,
div.entity-esp button.remove {
    width: 4em;
}

div.entity-info-row-1 {
    align-items: center;
    display: flex;
    gap: 0.5em;
}

div.entity-info-id {
    color: var(--moduleTypeColor);
}

div.entity-full-classname {
    color: var(--deactivatedColor);
}

div.entity-info-interface:after {
    content: '[interface]';
    color: #8A5F10;
    font-size: 0.75em;
}

div.entity-esp td.last-cell {
    text-align: right;
}

div.edit-entity-header {
    font-family: var(--font2);
}

div.entity-edit {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

div.entity-edit > fieldset {
    display: flex;
    gap: 0.5em;
}

legend.glow-legend {
    display: flex;
    gap: 0.5em;
    align-items: center;
}
