<div class="module-main" v-if="config">
    <div class="description">
        Overhauls Minecraft default entity title system. Displays titles with static font size with no distance fade out.<br>
        Use Entity ESP to enable this for specific entities.
    </div>

    <div class="module-sections">
        <fieldset>
            <legend>
                Titles Font
            </legend>
            <FontPicker v-model="config.titleFont" @change="update()"></FontPicker>
        </fieldset>

        <fieldset>
            <legend>
                Enchantments Font
            </legend>
            <FontPicker v-model="config.enchantmentFont" @change="update()"></FontPicker>
        </fieldset>
    </div>
</div>