<div class="module-main" v-if="config">
    <div class="description">
        Overhauls Minecraft default entity title system. Displays titles with static font size with no distance fade out.<br>
        Use Entity ESP to enable this for specific entities.
    </div>

    <div class="module-sections">
        <fieldset>
            <legend>
                Titles Font
            </legend>
            <font-picker v-model="config.titleFont" @change="update()"></font-picker>
        </fieldset>

        <fieldset>
            <legend>
                Enchantments Font
            </legend>
            <font-picker v-model="config.enchantmentFont" @change="update()"></font-picker>
        </fieldset>

        <fieldset>
            <legend>
                HP prefix
            </legend>
            <div>
                <input type="text" class="w3" v-model="config.hpPrefix" @change="update()">
            </div>
            <div class="section-description">
                String that will be inserted before entity HP (if you enabled showing HP in the titles).
                Some fonts may not have specific unicode heart symbol, so you can replace it with something else.
            </div>
        </fieldset>
    </div>
</div>