<div class="module-main" v-if="config">
    <div class="description">
        Show transparent overlay over blocks where monsters can spawn. Helps you to spawn-proof locations.
    </div>

    <div class="module-sections">
        <div>
            <switch-checkbox v-model="config.enabled" @change="update()">Enabled (scan blocks in background)</switch-checkbox>
        </div>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.showLocations" @change="update()">Show Spawnable Locations</switch-checkbox>
            </legend>
            <div class="section-description">
                Show squares on top of spawnable blocks with zero block light level.
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.showTracers" @change="update()">Show Tracers</switch-checkbox>
            </legend>
            <div class="section-description">
                Tracers are showns to possible spawn locations with zero block light level.
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.showLightLevelValue" @change="update()">Show Light Level</switch-checkbox>
            </legend>
            <div class="section-description">
                Shows block light level on top of possible spawn locations.
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.useFreeCamPosition" @change="update()">Use FreeCam Position</switch-checkbox>
            </legend>
            <div class="section-description">
                By default module displays possible spawns around your character. With this switch when you enter FreeCam module will display possible spawns around FreeCam position.
            </div>
        </fieldset>

        <fieldset>
            <legend>
                Max Range
            </legend>
            <div class="input-section">
                <input type="text" class="w3" v-model="config.maxDistance" @change="update()">
            </div>
        </fieldset>
    </div>
</div>