<div class="module-main projectile-path" v-if="config">
    <div class="description">
        Show most likely path of projectiles (Minecraft adds some random to every shot).<br>
        Displayed path in not precise in close distance, since player shoots projectile from eyes, but module draws path from right hand.<br>
        This is done to have better visuals, in other case you would just see single vertical line.
    </div>

    <div class="module-sections">
        <fieldset class="items">
            <legend>
                Show path for:
            </legend>
            <switch-checkbox v-model="config.enderPearls" @change="update()">Ender Pearls</switch-checkbox>
            <switch-checkbox v-model="config.bows" @change="update()">Bow</switch-checkbox>
            <switch-checkbox v-model="config.crossbows" @change="update()">Crossbow</switch-checkbox>
            <switch-checkbox v-model="config.tridents" @change="update()">Trident</switch-checkbox>
            <switch-checkbox v-model="config.snowballs" @change="update()">Snowballs</switch-checkbox>
            <switch-checkbox v-model="config.potions" @change="update()">Splash Potions</switch-checkbox>
            <switch-checkbox v-model="config.expBottles" @change="update()">Experience Bottles</switch-checkbox>
            <switch-checkbox v-model="config.eggs" @change="update()">Eggs</switch-checkbox>
        </fieldset>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.showTraces" @change="update()">
                    Show traces for all projectiles around
                </switch-checkbox>
            </legend>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <span class="field-description">Traces Duration:</span>
                        </td>
                        <td>
                            <input type="text" class="w3" v-model="config.tracesDuration" @change="update()">
                        </td>
                        <td>
                            <div class="input-description">In seconds, how long trace remains visible.</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="field-description">Fade Duration:</span>
                        </td>
                        <td>
                            <input type="text" class="w3" v-model="config.fadeDuration" @change="update()">
                        </td>
                        <td>
                            <div class="input-description">In seconds. Last X seconds when trace is visible it starts to gradually fade out.</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>