<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">Auto Bucket (BETA)</h2>
        <div class="description">
            Automatically uses water bucket when you fall.<br>
            Don't rely solely on this module, since you can die just because of bad ping.<br>
            Module uses reach distance to check if it can use water bucket. If you use Reach module ensure you didn't setup too big distance.<br>
            Don't fall on waterloggable blocks like leaves, since you water cannot be placed on top of such blocks.<br>
            Module doesn't check if you already are falling into water.<br>
            There was plans to add other items like cobweb or slime block.
        </div>

        <div class="module-sections">
            <div>
                <label class="switch-label">
                    <input type="checkbox" class="switch"
                        v-model="config.enabled"
                        @change="update()">
                    <span>Enabled</span>
                </label>
            </div>

            <fieldset>
                <legend>
                    Speed Threshold
                </legend>
                <div class="input-section">
                    <input type="text" v-model="config.speedThreshold" @change="update()">
                    <div class="section-description">
                        Module tries to use water bucket only if your speed (blocks/sec) if greater than specified value.
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    Items to Use
                </legend>
                <div>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.useWaterBucket"
                            @change="update()">
                        <span>Water Bucket</span>
                    </label>
                </div>
            </fieldset>
        </div>
    </div>
</div>