<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <fieldset style="padding-top: 16px;" v-if="config">
        <legend>Beacons (BETA)</legend>
        <div class="description">
            Shows vertical lines in your world so you can better orient where should you go.
        </div>
        <div>
            <label class="switch-label">
                <input type="checkbox" class="switch"
                    v-model="config.enabled"
                    @change="update()">
                <span>Enabled</span>
            </label>
        </div>
        <div>
            <div>Name: <input type="text" v-model="beacon.name"></div>
            <div>X: <input type="text" v-model="beacon.x"></div>
            <div>Z: <input type="text" v-model="beacon.z"></div>
            <div>
                <color-picker v-model="beacon.color"></color-picker>
            </div>
            <div>
                <button @click="addBeacon()">Add Beacon</button>
            </div>
        </div>
        <div>
            <ul class="list-base" style="width: 1000px;">
                <li v-for="beacon in list">
                    <button style="width: 100px;" @click="remove(beacon)">Remove</button>
                    Name: {{ beacon.name }}
                    Dimension: {{ beacon.dimension }}
                    Color: {{ beacon.color }}
                    X: {{ beacon.x }}
                    Z: {{ beacon.z }}
                </li>
            </ul>
        </div>
    </fieldset>
</div>