<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">Container Buttons</h2>
        <div class="description">
            Show additional buttons for containers UI (chects, barrels, ender chests and so on).
        </div>

        <div class="module-sections">
            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.showTakeAll"
                            @change="update()">
                        <span>Show "Take All" button</span>
                    </label>
                </legend>
                <div class="section-description">
                    Takes everything from container.
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.showSmartPut"
                            @change="update()">
                        <span>Show "Smart Put" button</span>
                    </label>
                </legend>
                <div class="section-description">
                    "Smart Put" moves items from your inventory to container. It moves only the same items that are already inside container. For example, if you have wood and planks in chest, it will move only wood and planks from your inventory to the chest.
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.showDropAll"
                            @change="update()">
                        <span>Show "Drop All" button</span>
                    </label>
                </legend>
                <div class="section-description">
                    "Drop All" drops everything in container on the ground.
                </div>
            </fieldset>
        </div>
    </div>
</div>