<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <fieldset style="padding-top: 16px;" v-if="config">
        <legend>Container Buttons</legend>
        <div class="description">
            Show additional buttons for containers UI (chects, barrels, ender chests and so on).
        </div>
        <div>
            <label class="switch-label">
                <input type="checkbox" class="switch"
                    v-model="config.showTakeAll"
                    @change="update()">
                <span>Show "Take All" button</span>
            </label>
        </div>
        <div class="description">
            "Smart Put" moves items from your inventory to container. It moves only the same items that are already inside container. For example, if you have wood and planks in chest, it will move only wood and planks from your inventory to the chest.
        </div>
        <div>
            <label class="switch-label">
                <input type="checkbox" class="switch"
                    v-model="config.showSmartPut"
                    @change="update()">
                <span>Show "Smart Put" button</span>
            </label>
        </div>
    </fieldset>
</div>