<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <fieldset style="padding-top: 16px;" v-if="config">
        <legend>Elytra Tunnel</legend>
        <div class="description">
            Allows you to fly in nether highways without stucking in holes in ceiling.<br>
            For example, if ceiling is Y=123, you should enter slightly lower value, for example about 122.8. This module emulates collissions on the client, thus doesn't allow you to reach higher Y.
        </div>
        <div>
            <label class="switch-label">
                <input type="checkbox" class="switch"
                    v-model="config.enabled"
                    @change="update()">
                <span>Enabled</span>
            </label>
        </div>
        <div>
            <span class="text">Limit Y:</span>
            <input type="text" v-model="config.limit" @change="update()">
        </div>
    </fieldset>
</div>