<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main">
        <h2 class="module-header">Entity Owne</h2>
        <div class="description">
            Shows who owns tamable animal.<br>
            This module was moved under Custom Title System in Entity ESP. Open Entity ESP, search for entity type you want to see owner (for example Animal base class). Check "Custom Title System" and "Show Owner".
        </div>
    </div>
</div>