<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <fieldset style="padding-top: 16px;" v-if="config">
        <legend>Exploration Mini Map</legend>
        <div class="description">
            Press Tab to show mini map. Hold Alt while holding tab to show players list. Use mouse scroll to zoon in/out.<br>
            If you travel long distances (tens of thouthands blocks), this mini map may cause FPS drop on low-end system. Also all sections of map are kept inside RAM and video memory.<br>
            To clear them from memory just disable/enable.
        </div>
        <div>
            <label class="switch-label">
                <input type="checkbox" class="switch"
                    v-model="config.enabled"
                    @change="update()">
                <span>Enabled</span>
            </label>
        </div>
    </fieldset>
</div>