<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">Fast Break</h2>
        <div class="description">
            When you mine block your client sends 2 packets: when you started digging and when you finished. Due to ping problems time difference between 2 packets can differ between client and server. To make block dig rollback more rare server weakens rule, and doesn't check exact time. We can abuse this and always send 2 packets quicker.
            <br>
            This hack cannot make "non-instamineable" block instamineable. Instamining has strict check on the server.
        </div>

        <div class="module-sections">
            <div>
                <label class="switch-label">
                    <input type="checkbox" class="switch"
                        v-model="config.enabled"
                        @change="update()">
                    <span>Enabled</span>
                </label>
            </div>

            <fieldset>
                <legend>
                    Factor
                </legend>
                <div class="input-section">
                    <input type="text" v-model="config.factor" @change="update()">
                </div>
                <div class="section-description">
                    1=no change, 1.2=1.2x faster and so on. Maximum theoretical value for vanilla server: 1/0.7=1.428571. It is better to use lower value.
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.disableFlyPenalty"
                            @change="update()">
                        <span>Disable fly penalty</span>
                    </label>
                </legend>
                <div class="section-description">
                    When player is not staying on the ground minecraft sets penalty for digging speed. This penalty is also applied during Fly Hack. You can disable this penalty, but you need to set OnGround = true in Fly Hack settings.<br>
                    It seems like this setting doesn't work properly even on vanilla servers, but you can try to play with settings.
                </div>
            </fieldset>
        </div>
    </div>
</div>