<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">Kill Aura</h2>
        <div class="description">
            Automatically attacks entities in range with the current item in hand.
        </div>

        <div class="module-sections">
            <div>
                <label class="switch-label">
                    <input type="checkbox" class="switch"
                           v-model="config.active"  <!-- Change 'enabled' to 'active' -->
                           @change="update()">
                    <span>Enabled</span>
                </label>
            </div>

            <fieldset>
                <legend>
                    Delay Method
                </legend>
                <div>
                    <div style="padding: 2px; display: flex;">
                        <label>
                            <input type="radio" name="method" value="ConstDelay" v-model="config.delayMode" @change="update()">
                            <span class="text">Constant Tick Delay</span>
                        </label>
                    </div>
                    <div style="padding: 2px; display: flex;">
                        <label>
                            <input type="radio" name="method" value="Cooldown" v-model="config.delayMode" @change="update()">
                            <span class="text">Item Cooldown</span>
                        </label>
                    </div>
                    <div class="input-section" v-if="config.delayMode == 'ConstDelay'">
                        <span class="field-description">Tick Interval:</span>
                        <input type="text" v-model="config.attackTickInterval" @change="update()">
                        <div class="section-description">
                            How often kill aura attacks. 1 = fastest (attack every tick), 20 = attack once a second and so on. In other words: attack every X ticks.
                        </div>
                    </div>
                    <div class="input-section" v-if="config.delayMode == 'Cooldown'">
                        <span class="field-description">Extra Ticks:</span>
                        <input type="text" v-model="config.extraTicks" @change="update()">
                        <div class="section-description">
                            Wait additional ticks once cooldown passed. Can be negative, in this case module will attack before cooldown.
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                               v-model="config.overrideAttackRange"
                               @change="update()">
                        <span>Override attack range</span>
                    </label>
                </legend>
                <div class="input-section">
                    <span class="field-description">Max Range:</span>
                    <input type="text" v-model="config.maxRange" @change="update()">
                </div>
                <div class="section-description">
                    If disabled uses current attack range, possibly modified by Reach hack.<br>
                    When disabled in the Fabric version, it will not be able to detect attack range modified by other mods.
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    Limit target coverage by angle
                </legend>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <span class="field-description">Delta horizontal angle:</span>
                            </td>
                            <td>
                                <input type="text" v-model="config.maxHorizontalAngle" @change="update()">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="field-description">Delta vertical angle:</span>
                            </td>
                            <td>
                                <input type="text" v-model="config.maxVerticalAngle" @change="update()">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="section-description">
                    In degrees. Value 180 means no limit. But it is better to leave field(s) empty for this purpose.<br>
                    For every possible target module calculates how far you need to rotate to attack target. If this angle exceeds specified limit, module will not attack this target.<br>
                    Note: module is not smart enough to attack on edges of hitbox. It always attacks center of entities bounding box. Angle is measured relatively to this point.
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                               v-model="config.attackAll"
                               @change="update()">
                        <span>Attack multiple targets per tick</span>
                    </label>
                </legend>
                <div class="section-description">
                    Module attacks all targets in range. Only first target (closest) receives full damage.
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                               v-model="config.autoRotate"
                               @change="update()">
                        <span>Auto Rotate</span>
                    </label>
                </legend>
                <div class="section-description">
                    Automatically rotates you in the direction of the target each time Kill Aura attacks a target. Has no effect on client side.<br>
                    When enabled Kill Aura will not work from Boats/Minecarts or other rideable entities.
                </div>
            </fieldset>

            <fieldset v-if="priorityList">
                <legend>Priorities</legend>

                <div v-if="state == 'list'">
                    <button @click="openAddNew()">Add Priority Entry</button>
                    <button @click="openCreateNewCustomEntry()">Create Custom Priority Entry...</button>
                </div>
                <ul class="list-base kill-aura-priority-list" v-if="state == 'list'">
                    <li v-for="(entry, index) in config.priorities">
                        <div class="c0">
                            <input type="checkbox" class="switch"
                                   v-model="entry.enabled"
                                   @change="update()">
                        </div>
                        <div class="c1">
                            <div class="text">{{ entry.name }}</div>
                            <div class="smaller">{{ entry.description }}</div>
                        </div>
                        <div class="c2">
                            <button @click="moveUp(index)">🡅</button>
                            <button @click="moveDown(index)">🡇</button>
                            <button @click="removePriorityEntry(index)">Remove</button>
                        </div>
                    </li>
                </ul>

                <div v-if="state == 'add'">
                    <button @click="state = 'list'">Back to list</button>
                </div>
                <div style="padding-top: 16px;" v-if="state == 'add'">
                    <span class="text">Filter:</span>
                    <input type="text" class="search"
                           v-model="search"
                           @input="filterPriorityList()">
                </div>
                <ul class="list-base kill-aura-priority-list" v-if="state == 'add'">
                    <li v-for="entry in priorityListFiltered">
                        <div class="c1">
                            <div class="text">{{ entry.name }}</div>
                            <div class="smaller">{{ entry.description }}</div>
                        </div>
                        <div class="c2">
                            <button class="add-button" @click="deleteCustomEntry(entry)" v-if="entry.className && !entryInPrioritiesList(entry)">Delete</button>
                            <button class="add-button" @click="addPriorityEntry(entry)" v-if="!entryInPrioritiesList(entry)">Add</button>
                        </div>
                    </li>
                </ul>

                <div v-if="state == 'create-custom'">
                    <div>
                        <button @click="state = 'list'">Back to list</button>
                        <button @click="createNewCustomEntry()">Create</button>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="text">Entry Name:</span>
                                </td>
                                <td>
                                    <input type="text" class="search" v-model="newCustomEntry.name">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text">Description:</span>
                                </td>
                                <td>
                                    <input type="text" class="search" v-model="newCustomEntry.description">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text">Class Name:</span>
                                </td>
                                <td>
                                    <input type="text" class="search" v-model="newCustomEntry.className">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="section-description">
                        You can copy class name from Entity ESP all entities list. Example: net.minecraft.world.entity.animal.Cow
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
