<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">Schematica</h2>
        <div class="description">
            ?
        </div>

        <div class="module-sections">
            <div>
                <label class="switch-label">
                    <input type="checkbox" class="switch"
                        v-model="config.enabled"
                        @change="update()">
                    <span>Enabled</span>
                </label>
            </div>

            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.showMissingBlocks"
                            @change="update()">
                        <span>Show Missing Blocks</span>
                    </label>
                </legend>
                <div class="section-description">
                    ???
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    File
                </legend>
                <div class="input-section">
                    <input type="file" ref="fileInput" @change="onFileSelected()">
                </div>
                <div v-if="schematic" class="schematic-info">
                    <div>
                        Size: W={{ schematic.width }} H={{ schematic.height }} L={{ schematic.length }}
                    </div>
                    <div>
                        Palette:
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Count</td>
                                <td>Block</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in schematic.paletteMap">
                                <td>{{ item.id }}</td>
                                <td>{{ item.count }}</td>
                                <td>
                                    <input type="text" v-model="item.block">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="section-description">
                    Select file or use Drag-and-Drop.<br>
                    Supported formats: .schematic
                </div>
            </fieldset>

            <fieldset v-if="schematic">
                <legend>
                    <button @click="place()">Place in the World</button>
                </legend>
                <div class="input-section">
                    <table>
                        <colgroup>
                            <col style="width: 24px;">
                            <col style="width: 220px;">
                            <col style="width: 160px;">
                            <col style="width: 80px;">
                            <col style="width: 80px;">
                            <col style="width: 80px;">
                            <col style="width: 80px;">
                            <col style="width: 80px;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="field-description">X:</span>
                                </td>
                                <td>
                                    <input type="text" v-model="placing.x">
                                </td>
                                <td>
                                    <label class="switch-label">
                                        <input type="checkbox" class="switch" v-model="placing.flipX">
                                        <span>Flip X</span>
                                    </label>
                                </td>
                                <td>
                                    <span class="field-description">Rotate X:</span>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-x" v-model="placing.rotateX" v-bind:value="-90">
                                        <span class="text">-90°</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-x" v-model="placing.rotateX" v-bind:value="0">
                                        <span class="text">0°</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-x" v-model="placing.rotateX" v-bind:value="90">
                                        <span class="text">90°</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-x" v-model="placing.rotateX" v-bind:value="180">
                                        <span class="text">180°</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="field-description">Y:</span>
                                </td>
                                <td>
                                    <input type="text" v-model="placing.y">
                                </td>
                                <td>
                                    <label class="switch-label">
                                        <input type="checkbox" class="switch" v-model="placing.flipY">
                                        <span>Flip Y</span>
                                    </label>
                                </td>
                                <td>
                                    <span class="field-description">Rotate Y:</span>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-y" v-model="placing.rotateY" v-bind:value="-90">
                                        <span class="text">-90°</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-y" v-model="placing.rotateY" v-bind:value="0">
                                        <span class="text">0°</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-y" v-model="placing.rotateY" v-bind:value="90">
                                        <span class="text">90°</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-y" v-model="placing.rotateY" v-bind:value="180">
                                        <span class="text">180°</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="field-description">Z:</span>
                                </td>
                                <td>
                                    <input type="text" v-model="placing.z">
                                </td>
                                <td>
                                    <label class="switch-label">
                                        <input type="checkbox" class="switch" v-model="placing.flipZ">
                                        <span>Flip Z</span>
                                    </label>
                                </td>
                                <td>
                                    <span class="field-description">Rotate Z:</span>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-z" v-model="placing.rotateZ" v-bind:value="-90">
                                        <span class="text">-90°</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-z" v-model="placing.rotateZ" v-bind:value="0">
                                        <span class="text">0°</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-z" v-model="placing.rotateZ" v-bind:value="90">
                                        <span class="text">90°</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-z" v-model="placing.rotateZ" v-bind:value="180">
                                        <span class="text">180°</span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>

            <!--<div>
                <label class="switch-label">
                    <input type="checkbox" class="switch"
                        v-model="config.enabled"
                        @change="update()">
                    <span>Enabled</span>
                </label>
            </div>

            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.overrideFlyingSpeed"
                            @change="update()">
                        <span>Override max speed</span>
                    </label>
                </legend>
                <div class="input-section">
                    <span class="field-description">Flying speed (default 0.05):</span>
                    <input type="text" v-model="config.flyingSpeed" @change="update()">
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    OnGround flag
                </legend>
                <div class="input-section">
                    <div style="padding: 2px; display: flex;">
                        <label>
                            <input type="radio" name="on-ground" v-model="config.onGroundFlag" v-bind:value="false" @change="update()">
                            <span class="text">OnGround = false</span>
                        </label>
                    </div>
                    <div style="padding: 2px; display: flex;">
                        <label>
                            <input type="radio" name="on-ground" v-model="config.onGroundFlag" v-bind:value="true" @change="update()">
                            <span class="text">OnGround = true</span>
                        </label>
                    </div>
                </div>
                <div class="section-description">
                    While flying this module overrides onGround flag in MovePlayerPacket. Both options works fine in vanilla. For Fast Break hack, Disable Fly Penalty option you need to set OnGround = true.
                </div>
            </fieldset>-->
        </div>
    </div>
</div>