<div class="module-main" v-if="config">
    <div class="description">
        Allows you to extend entities hitboxes.<br>
        Extended hitboxes are applied only during calculation of target entity and while rendering hitboxes in debug (F3+B).
    </div>

    <div class="module-sections">
        <div>
            <switch-checkbox v-model="config.enabled" @change="update()">Enabled</switch-checkbox>
        </div>

        <fieldset>
            <legend>
                Width
            </legend>
            <div class="flex-column">
                <div class="flex-row">
                    <radio name="width-mode" value="PERCENT" v-model="config.widthMode" @change="update()"></radio>
                    <input type="text" class="w4" v-model="config.widthPercent" @change="update()">
                    <span>Percents</span>
                </div>
                <div class="flex-row">
                    <radio name="width-mode" value="ABSOLUTE" v-model="config.widthMode" @change="update()"></radio>
                    <input type="text" class="w4" v-model="config.widthAbsolute" @change="update()">
                    <span>Absolute (in blocks)</span>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                Height
            </legend>
            <div class="flex-column">
                <div class="flex-row">
                    <radio name="height-mode" value="PERCENT" v-model="config.heightMode" @change="update()"></radio>
                    <input type="text" class="w4" v-model="config.heightPercent" @change="update()">
                    <span>Percents</span>
                </div>
                <div class="flex-row">
                    <radio name="height-mode" value="ABSOLUTE" v-model="config.heightMode" @change="update()"></radio>
                    <input type="text" class="w4" v-model="config.heightAbsolute" @change="update()">
                    <span>Absolute (in blocks)</span>
                </div>
            </div>
        </fieldset>

        <fieldset class="flex-column">
            <legend>
                <switch-checkbox v-model="config.scriptEnabled" @change="update()">Custom Script</switch-checkbox>
            </legend>
            <template v-if="config.scriptEnabled">
                <div class="section-description">
                    Write script to decide if module should apply hitbox change to specific entity.<br>
                    Use <b>id</b> variable to see id of the current entity.<br>
                    Return <b>true</b> if module should alter entity hitbox, return <b>false</b> if it is not.<br>
                </div>
                <div class="actions">
                    <button class="w8" @click="saveCode()">Save</button>
                    <button class="w12" @click="showApiRef()">Show/Hide API Reference</button>
                </div>
                <script-editor v-model="code" :type="'HITBOX_SIZE'" v-show="!showRefs"></script-editor>
                <ul class="refs" v-show="showRefs">
                    <li v-for="item in refs" v-html="item"></li>
                </ul>
            </template>
        </fieldset>
    </div>
</div>