<div class="module-main" v-if="config">
    <div class="description">
        Automatically switches to the best tool right before you start breaking block.<br>
        Selects tools according to the chosen priority. On equal speed, non-damageable items are preferred.
    </div>

    <div class="module-sections">
        <div>
            <switch-checkbox v-model="config.enabled" @change="update()">Enabled</switch-checkbox>
        </div>
        <fieldset>
            <legend>
                Mode
            </legend>
            <div>
                <radio name="mode" value="HOTBAR" v-model="config.mode" @change="update()">
                    Search for tools on hotbar
                </radio>
            </div>
            <div>
                <radio name="mode" value="INVENTORY" v-model="config.mode" @change="update()">
                    Search for tools in inventory
                </radio>
            </div>
        </fieldset>

        <fieldset class="flex-column">
            <legend>
                Priority
            </legend>
            <div>
                <radio name="priority" value="SPEED" v-model="config.priority" @change="update()">
                    Prioritize Speed
                </radio>
                <radio name="priority" value="DROP" v-model="config.priority" @change="update()">
                    Prioritize Drop
                </radio>
            </div>
            <div class="section-description">
                <b>Prioritize Speed:</b> Chooses the fastest tool, accounting for the wrong-tool speed penalty. The block may break without dropping items.<br>
                <b>Prioritize Drop:</b> Prefers tools that meet the block's harvesting requirements, then chooses the fastest among them. If none qualify, uses the fastest available tool.<br>
                Harvesting requirements check tool type and tier. This option does not choose between Silk Touch and Fortune.
            </div>
        </fieldset>

        <fieldset v-if="config.mode == 'INVENTORY'">
            <legend>
                Hotbar Slot
            </legend>
            <div class="flex-row">
                <input type="number" min="1" max="9" class="w4" v-model="config.slot" @change="update()">
            </div>
            <div class="section-description">
                When in inventory mode, module brings best tool to this slot on hotbar, and doesn't touch other slots.
            </div>
        </fieldset>

        <fieldset>
            <legend>
                Min Durability
            </legend>
            <div class="flex-row">
                <input type="text" class="w4" v-model="config.minDurability" @change="update()">
            </div>
            <div class="section-description">
                Don't select tools which durability is less than specified value.
            </div>
        </fieldset>
    </div>
</div>