<div class="module-main auto-craft" v-if="config">
    <div class="description">
        Add items you want to auto craft. To start autocrafting enable module and open Crafting Table GUI.<br>
        Algorithm:
        <ol>
            <li>
                If you have enough ingredients to craft at least 1 item, module performs shift+click on recipe (if resulting item is stackable),
                or simple click (if resulting item is non-stackable).
            </li>
            <li>
                If you don't have enough items, module tries to craft missing ingridients.
                It can go recursively. For example, your recipe needs sticks, but you have logs. Module will craft planks from logs, and then sticks from planks.
            </li>
            <li>
                Module performs shift+click on resulting item(s). If your inventory is full, module will stuck here. You can safely close Crafting Table GUI.
            </li>
            <li>
                Module is not smart enough to deal with full inventory. You should better have some free slots before crafting.
            </li>
            <li>
                Module is not smart enough to calculate if you have enough sub-ingredients to craft at least 1 item. Example: you selected Dispenser as item for Auto Craft.
                You don't have bows/sticks/string in your inventory. You have planks in inventory. Module will craft sticks from planks once (for bow recipe), and stop here.
            </li>
        </ol>
    </div>

    <div class="module-sections">
        <div>
            <switch-checkbox v-model="config.enabled" @change="update()">Enabled</switch-checkbox>
        </div>
        <item-list v-model="config.items" @change="update()"></item-list>
    </div>
</div>