<div class="module-main" v-if="config">
    <div class="description">
        Auto Attack makes it so that holding the attack button autoswings the sword, similar to the combat snapshots.
        Each swing is done right after the attack cooldown is done and thus will always do max possible damage.
    </div>

    <div class="module-sections">
        <div>
            <switch-checkbox v-model="config.enabled" @change="update()">Enabled</switch-checkbox>
        </div>
        <div class="flex-row">
            <span class="field-description">Extra Ticks:</span>
            <input type="text" v-model="config.extraTicks" @change="update()">
            <div class="section-description">
                Wait additional ticks once cooldown passed. Can be negative, in this case module will attack before cooldown.
            </div>
        </div>
    </div>
</div>