<div class="module-main" v-if="config">
    <div class="description">
        Breach Swap makes it so that attacking swaps sword and mace to perform a Breach Swap attack,
        Penetrating armor with breach while using base damage and cooldown of a sword or axe.
    </div>
    <div class="module-sections">
        <div>
            <switch-checkbox v-model="config.enabled" @change="update()">Enabled</switch-checkbox>
        </div>
        <fieldset>
            <legend>
                Weapon Options
            </legend>
            <div class="flex-column">
                <switch-checkbox v-model="config.useAxe" @change="update()">Prefer Axe</switch-checkbox>
                <switch-checkbox v-model="config.breakShield" @change="update()">Break shield automatically
                </switch-checkbox>
            </div>
        </fieldset>
    </div>
</div>