div.schematica td.pad-left {
    padding-left: 2em;
}

div.schematica div.schematic-info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

div.schematica div.schematic-info table {
    border: 2px solid #00627A;
    border-collapse: collapse;
    width: 100%;
}

div.schematica div.schematic-info td {
    border: 2px solid #00627A;
}