<div class="module-main schematica" v-if="config">
    <div class="description">
        Module can only properly place simple blocks, which have only 1 block state. No directional blocks, stairs, slabs and so on.
    </div>

    <div class="module-sections">
        <div>
            <switch-checkbox v-model="config.enabled" @change="update()">Enabled</switch-checkbox>
        </div>

        <fieldset>
            <legend>
                Current Schematics
            </legend>
            <table class="summary">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>X</td>
                        <td>Y</td>
                        <td>Z</td>
                        <td>
                            <button style="width: 8em;" @click="removeAll()">Remove All</button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(summary, index) in summaries">
                        <td>{{ summary.name }}</td>
                        <td @click="move(summary, index, 'x')">{{ summary.x }}</td>
                        <td @click="move(summary, index, 'y')">{{ summary.y }}</td>
                        <td @click="move(summary, index, 'z')">{{ summary.z }}</td>
                        <td>
                            <button style="width: 8em;" @click="removeAt(index)">Remove</button>
                        </td>
                        <td>
                            <button style="width: 8em;" @click="rescan(index)">Rescan</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="section-description">
                Click on coordinate to move schematica.
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.renderBlocks" @change="update()">
                    Render Blocks
                </switch-checkbox>
            </legend>
            <div class="section-description">
                Render schematica in your world.
            </div>
            <div class="flex-row" style="margin-top: 1em;">
                <switch-checkbox v-model="config.shadeBlocks" @change="update()">
                    Shade Blocks
                </switch-checkbox>
                <div class="section-description">
                    Shade schematica blocks in darker bluish color
                </div>
            </div>
            <div class="section-description" style="margin-top: 1em;">
                Render Blocks feature doesn't work with Sodium.
                All questions to Sodium devs.
                They stopped caring about compatibility.
            </div>
        </fieldset>

        <fieldset>
            <legend>
                Missing Blocks
            </legend>
            <table>
                <tr>
                    <td>
                        <switch-checkbox v-model="config.showMissingBlockTracers" @change="update()">Show tracers</switch-checkbox>
                    </td>
                    <td class="pad-left">
                        <div class="flex-row">
                            <span class="field-description">Max distance:</span>
                            <input type="text" class="w5" v-model="config.missingBlockTracersMaxDistance" @change="update()">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <switch-checkbox v-model="config.showMissingBlockCubes" @change="update()">Show mini-cubes</switch-checkbox>
                    </td>
                    <td class="pad-left">
                        <div class="flex-row">
                            <span class="field-description">Max distance:</span>
                            <input type="text" class="w5" v-model="config.missingBlockCubesMaxDistance" @change="update()">
                        </div>
                    </td>
                </tr>
            </table>
            <div class="section-description">
                Missing Blocks: real world block = replacable, schematica block != Air
            </div>
        </fieldset>

        <fieldset>
            <legend>
                Wrong Blocks
            </legend>
            <table>
                <tr>
                    <td colspan="2">
                        <switch-checkbox v-model="config.replaceableAsAir" @change="update()">
                            Treat replaceable blocks as air (e.g. snow, water, grass). Requires rescan.
                        </switch-checkbox>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <switch-checkbox v-model="config.airAlwaysValid" @change="update()">
                            Air blocks in schematica are always valid. Requires rescan.
                        </switch-checkbox>
                    </td>
                </tr>
                <tr>
                    <td>
                        <switch-checkbox v-model="config.showWrongBlockTracers" @change="update()">
                            Show tracers
                        </switch-checkbox>
                    </td>
                    <td class="pad-left">
                        <div class="flex-row">
                            <span class="field-description">Max distance:</span>
                            <input type="text" class="w5" v-model="config.wrongBlockTracersMaxDistance" @change="update()">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <switch-checkbox v-model="config.showWrongBlockCubes" @change="update()">
                            Show mini-cubes
                        </switch-checkbox>
                    </td>
                    <td class="pad-left">
                        <div class="flex-row">
                            <span class="field-description">Max distance:</span>
                            <input type="text" class="w5" v-model="config.wrongBlockCubesMaxDistance" @change="update()">
                        </div>
                    </td>
                </tr>
            </table>
            <div class="section-description">
                Wrong Blocks: real world block != schematica block and real world block != Air
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.autoBuild" @change="update()">
                    Auto Build
                </switch-checkbox>
            </legend>
            <table>
                <tr>
                    <td>
                        <span class="field-description">Placement Rate:</span>
                    </td>
                    <td>
                        <input type="text" class="w5" v-model="config.placementRate" @change="update()">
                    </td>
                    <td>
                        <div class="input-description">Place 1 block once in X ticks. Can be floating pointer number.</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="field-description">Max Build Distance:</span>
                    </td>
                    <td>
                        <input type="text" class="w5" v-model="config.maxRange" @change="update()">
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="field-description">Use hotbar slots:</span>
                    </td>
                    <td>
                        <input type="text" class="w5" v-model="slots" @change="onSlotsUpdate()">
                    </td>
                    <td>
                        <div class="input-description">Separated by comma. Example: 6,7,8</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <switch-checkbox v-model="config.useShift" @change="update()">
                            Use Shift while placing blocks
                        </switch-checkbox>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <switch-checkbox v-model="config.autoRotate" @change="update()">
                            Auto Rotate
                        </switch-checkbox>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <switch-checkbox v-model="config.attachToAir" @change="update()">
                            Attach to Air
                        </switch-checkbox>
                    </td>
                </tr>
            </table>

            <div class="section-description">
                <b>Max Build Distance</b> - distance between player eyes and center of block module will try to place.<br>
                <b>Use Shift</b> - using shift may cause your character to randomly crouch for a fraction of a second.
            </div>
            <div class="section-description">
                <b>Auto Rotate</b> - some anti-cheats prevent you from placing blocks if your character doesn't look in the proper direction.
            </div>
        </fieldset>

        <fieldset>
            <legend>
                File
            </legend>
            <div>
                <input type="file" ref="fileInput" @change="onFileSelected()">
            </div>
            <div v-if="schematic" class="schematic-info">
                <div>
                    Size: W={{ schematic.width }} H={{ schematic.height }} L={{ schematic.length }}
                </div>
                <div>
                    Palette (Click on block state to edit, while focused in text input: press &lt;Enter&gt; to apply edit change, or &lt;Esc&gt; to cancel):
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Count</td>
                            <td>Original</td>
                            <td>Block State</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in schematic.paletteMap">
                            <td>{{ item.id }}</td>
                            <td>{{ item.count }}</td>
                            <td class="break-all">{{ item.raw }}</td>
                            <td class="break-all" v-if="!item.editing" @click="beginEdit(item)">
                                {{ item.stateFormatted }}
                            </td>
                            <td v-if="item.editing">
                                <auto-complete :value="item.editText" :list="blockStatesFormatted" @apply="onItemEditApply(item, $event)" @cancel="onItemEditCancel(item)"></auto-complete>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="section-description">
                Supported formats: .schematic, .litematic, .schem
            </div>
        </fieldset>

        <fieldset v-if="schematic">
            <legend>
                <button @click="place()">Place in the World</button>
            </legend>
            <table>
                <colgroup>
                    <col style="width: 1em;">
                    <col style="width: 6em;">
                    <col style="width: 1em;">
                    <col style="width: 6em;">
                    <col style="width: 1em;">
                    <col style="width: 6em;">
                </colgroup>
                <tr>
                    <td>
                        <span class="field-description">X:</span>
                    </td>
                    <td>
                        <input type="number" class="w5" v-model="placing.x">
                    </td>
                    <td>
                        <span class="field-description">Y:</span>
                    </td>
                    <td>
                        <input type="number" class="w5" v-model="placing.y">
                    </td>
                    <td>
                        <span class="field-description">Z:</span>
                    </td>
                    <td>
                        <input type="number" class="w5" v-model="placing.z">
                    </td>
                </tr>
            </table>
            <div class="transforms">
                <div>Transformations:</div>
                <div v-for="(transform, index) in placing.transforms" :key="index">
                    <select v-model="placing.transforms[index]" @change="onTransformChanged()">
                        <option></option>
                        <option v-for="option in allTransforms" :value="option">{{ option }}</option>
                    </select>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.create.enabled" @change="update()">
                    Create Schematic
                </switch-checkbox>
            </legend>
            <div class="download" v-if="config.create.enabled">
                <table>
                    <colgroup>
                        <col style="width: 1em;">
                        <col style="width: 6em;">
                        <col style="width: 1em;">
                        <col style="width: 6em;">
                        <col style="width: 1em;">
                        <col style="width: 6em;">
                    </colgroup>
                    <tr>
                        <td>
                            <span class="field-description">X<sub>1</sub></span>
                        </td>
                        <td>
                            <input type="number" class="w5" v-model="config.create.x1" @change="update()">
                        </td>
                        <td>
                            <span class="field-description">Y<sub>1</sub>:</span>
                        </td>
                        <td>
                            <input type="number" class="w5" v-model="config.create.y1" @change="update()">
                        </td>
                        <td>
                            <span class="field-description">Z<sub>1</sub>:</span>
                        </td>
                        <td>
                            <input type="number" class="w5" v-model="config.create.z1" @change="update()">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="field-description">X<sub>2</sub>:</span>
                        </td>
                        <td>
                            <input type="number" class="w5" v-model="config.create.x2" @change="update()">
                        </td>
                        <td>
                            <span class="field-description">Y<sub>2</sub>:</span>
                        </td>
                        <td>
                            <input type="number" class="w5" v-model="config.create.y2" @change="update()">
                        </td>
                        <td>
                            <span class="field-description">Z<sub>2</sub>:</span>
                        </td>
                        <td>
                            <input type="number" class="w5" v-model="config.create.z2" @change="update()">
                        </td>
                    </tr>
                </table>
                <div class="download-settings">
                    <select v-model="format">
                        <option value="litematic">.litematic</option>
                        <option value="schem-v1">.schem version1</option>
                    </select>
                    <button style="width: 8em;" @click="download()">Download File...</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>