<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zergatul Cheat Utils</title>
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="app.css">
    <script src="axios.js"></script>
    <script src="ace/ace.js"></script>
</head>
<body>

    <div id="vue-app">

        <div v-show="current == 'main'">
            <div style="padding-top: 16px; display: none;">
                <button v-on:click="hardSwitch()">Hard Switch</button>
            </div>

            <div>
                <span class="text">Filter:</span>
                <input type="text" class="search"
                    v-model="search"
                    ref="search"
                    @input="filterModules()"
                    @keydown="onFilterKeyDown($event)">
            </div>

            <table class="main-table">
                <thead>
                    <tr>
                        <th>Automation</th>
                        <th>ESP</th>
                        <th>Hacks</th>
                        <th>Visuals</th>
                        <th>Scripting</th>
                        <th>Utility</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button @click="current = 'auto-disconnect'" :class="{ faded: !filtered.AutoDisconnect, active: statuses.AutoDisconnect }">Auto Disconnect</button>
                        </td>
                        <td>
                            <button @click="current = 'blocks'" :class="{ faded: !filtered.Blocks, active: statuses.Blocks }">Blocks</button>
                        </td>
                        <td>
                            <button @click="current = 'kill-aura'" :class="{ faded: !filtered.KillAura, active: statuses.KillAura }">Kill Aura</button>
                        </td>
                        <td>
                            <button @click="current = 'full-bright'" :class="{ faded: !filtered.FullBright, active: statuses.FullBright }">Full Bright</button>
                        </td>
                        <td>
                            <button @click="current = 'scripts'" :class="{ faded: !filtered.Scripts, active: statuses.Scripts }">Key Bindings</button>
                        </td>
                        <td>
                            <button @click="current = 'core'" :class="{ faded: !filtered.Core, active: statuses.Core }">Core Config</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button @click="current = 'auto-bucket'" :class="{ faded: !filtered.AutoBucket, active: statuses.AutoBucket }">Auto Bucket</button>
                        </td>
                        <td>
                            <button @click="current = 'entities'" :class="{ faded: !filtered.Entities, active: statuses.Entities }">Entities</button>
                        </td>
                        <td>
                            <button @click="current = 'elytra-hack'" :class="{ faded: !filtered.ElytraHack, active: statuses.ElytraHack }">Elytra Fly</button>
                        </td>
                        <td>
                            <button @click="current = 'armor-overlay'" :class="{ faded: !filtered.ArmorOverlay, active: statuses.ArmorOverlay }">Armor Overlay</button>
                        </td>
                        <td>
                            <button @click="current = 'status-overlay'" :class="{ faded: !filtered.StatusOverlay, active: statuses.StatusOverlay }">Status Overlay</button>
                        </td>
                        <td>
                            <button @click="current = 'profiles'" :class="{ faded: !filtered.Profiles, active: statuses.Profiles }">Profiles</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button @click="current = 'auto-fish'" :class="{ faded: !filtered.AutoFish, active: statuses.AutoFish }">Auto Fish</button>
                        </td>
                        <td>
                            <button @click="current = 'projectile-path'" :class="{ faded: !filtered.ProjectilePath, active: statuses.ProjectilePath }">Projectile Path</button>
                        </td>
                        <td>
                            <button @click="current = 'pig-hack'" :class="{ faded: !filtered.PigHack, active: statuses.PigHack }">Pig</button>
                        </td>
                        <td>
                            <button @click="current = 'shulker-tooltip'" :class="{ faded: !filtered.ShulkerTooltip, active: statuses.ShulkerTooltip }">Shulker Tooltip</button>
                        </td>
                        <td>
                            <button @click="current = 'block-automation'" :class="{ faded: !filtered.BlockAutomation, active: statuses.BlockAutomation }">Block Automation</button>
                        </td>
                        <td>
                            <button @click="current = 'user-name'" :class="{ faded: !filtered.UserName, active: statuses.UserName }">User Name</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button @click="current = 'auto-totem'" :class="{ faded: !filtered.AutoTotem, active: statuses.AutoTotem }">Auto Totem</button>
                        </td>
                        <td>
                            <button @click="current = 'light-level'" :class="{ faded: !filtered.LightLevel, active: statuses.LightLevel }">Light Level</button>
                        </td>
                        <td>
                            <button @click="current = 'auto-criticals'" :class="{ faded: !filtered.AutoCriticals, active: statuses.AutoCriticals }">Auto Criticals</button>
                        </td>
                        <td>
                            <button @click="current = 'advanced-tooltips'" :class="{ faded: !filtered.AdvancedTooltips, active: statuses.AdvancedTooltips }">Advanced Tooltips</button>
                        </td>
                        <td>
                            <button @click="current = 'exec'" :class="{ faded: !filtered.Exec, active: statuses.Exec }">Exec</button>
                        </td>
                        <td>
                            <button @click="current = 'container-summary'" :class="{ faded: !filtered.ContainerSummary, active: statuses.ContainerSummary }">Container Summary</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!--<button @click="current = 'instant-disconnect'" :class="{ faded: !filtered.InstantDisconnect, active: statuses.InstantDisconnect }">Instant Disconnect</button>-->
                            <button @click="current = 'auto-drop'" :class="{ faded: !filtered.AutoDrop, active: statuses.AutoDrop }">Auto Drop</button>
                        </td>
                        <td>
                            <button @click="current = 'end-city-chunks'" :class="{ faded: !filtered.EndCityChunks, active: statuses.EndCityChunks }">End City Chunks</button>
                        </td>
                        <td>
                            <button @click="current = 'fly-hack'" :class="{ faded: !filtered.FlyHack, active: statuses.FlyHack }">Fly</button>
                        </td>
                        <td>
                            <button @click="current = 'exploration-mini-map'" :class="{ faded: !filtered.ExplorationMiniMap, active: statuses.ExplorationMiniMap }">Exploration Mini Map</button>
                        </td>
                        <td>
                            <button @click="current = 'villager-roller'" :class="{ faded: !filtered.VillagerRoller, active: statuses.VillagerRoller }">Villager Roller</button>
                        </td>
                        <td>
                            <button @click="current = 'chat-utilities'" :class="{ faded: !filtered.ChatUtilities, active: statuses.ChatUtilities }">Chat</button>
                            <button @click="current = 'coordinate-leak-protection'" :class="{ faded: !filtered.CoordinateLeakProtection, active: statuses.CoordinateLeakProtection }" style="display: none;">CLP</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button @click="current = 'container-buttons'" :class="{ faded: !filtered.ContainerButtons, active: statuses.ContainerButtons }">Container Buttons</button>
                        </td>
                        <td>
                            <button @click="current = 'entity-owner'" :class="{ faded: !filtered.EntityOwner, active: statuses.EntityOwner }">Entity Owner</button>
                        </td>
                        <td>
                            <button @click="current = 'elytra-tunnel'" :class="{ faded: !filtered.ElytraTunnel, active: statuses.ElytraTunnel }">Elytra Tunnel</button>
                        </td>
                        <td>
                            <button @click="current = 'death-coordinates'" :class="{ faded: !filtered.DeathCoordinates, active: statuses.DeathCoordinates }">Death Coordinates</button>
                        </td>
                        <td>
                            <button @click="current = 'events-scripting'" :class="{ faded: !filtered.EventsScripting, active: statuses.EventsScripting }">Events Scripting</button>
                        </td>
                        <td>
                            <button @click="current = 'lock-inputs'" :class="{ faded: !filtered.LockInputs, active: statuses.LockInputs }">Lock Inputs</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button @click="current = 'auto-eat'" :class="{ faded: !filtered.AutoEat, active: statuses.AutoEat }">Auto Eat</button>
                        </td>
                        <td>
                            <button @click="current = 'free-cam'" :class="{ faded: !filtered.FreeCam, active: statuses.FreeCam }">Free Cam</button>
                        </td>
                        <td>
                            <button @click="current = 'movement-hack'" :class="{ faded: !filtered.MovementHack, active: statuses.MovementHack }">Movement</button>
                        </td>
                        <td>
                            <button @click="current = 'fog'" :class="{ faded: !filtered.Fog, active: statuses.Fog }">Fog</button>
                        </td>
                        <td rowspan="2" style="vertical-align: top;">
                            <button style="height: 48px;"  @click="current = 'game-tick-scripting'" :class="{ faded: !filtered.GameTickScripting, active: statuses.GameTickScripting }">Game Tick Scripting<br><span style="font-size: 10px;">(Will be reworked in next versions)</span></button>
                        </td>
                        <td>
                            <button @click="current = 'world-download'" :class="{ faded: !filtered.WorldDownload, active: statuses.WorldDownload }"><s>World Download</s></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button @click="current = 'anti-respawn-reset'" :class="{ faded: !filtered.AntiRespawnReset, active: statuses.AntiRespawnReset }">Anti Respawn Reset</button>
                        </td>
                        <td>
                            <button @click="current = 'new-chunks'" :class="{ faded: !filtered.NewChunks, active: statuses.NewChunks }">New Chunks</button>
                        </td>
                        <td>
                            <button @click="current = 'scaffold'" :class="{ faded: !filtered.Scaffold, active: statuses.Scaffold }">Scaffold</button>
                        </td>
                        <td>
                            <button @click="current = 'chunks'" :class="{ faded: !filtered.Chunks, active: statuses.Chunks }">Chunks</button>
                        </td>
                        <td>
                            <button @click="current = 'tps'" :class="{ faded: !filtered.Tps, active: statuses.Tps }">TPS</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button @click="current = 'auto-craft'" :class="{ faded: !filtered.AutoCraft, active: statuses.AutoCraft }">Auto Craft</button>
                        </td>
                        <td>
                            <button @click="current = 'entity-title'" :class="{ faded: !filtered.EntityTitle, active: statuses.EntityTitle }">Entity Titles</button>
                        </td>
                        <td>
                            <button @click="current = 'no-fall'" :class="{ faded: !filtered.NoFall, active: statuses.NoFall }">No Fall</button>
                        </td>
                        <td>
                            <button @click="current = 'status-effects'" :class="{ faded: !filtered.StatusEffects, active: statuses.StatusEffects }">Status Effects</button>
                        </td>
                        <td></td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button @click="current = 'auto-attack'" :class="{ faded: !filtered.AutoAttack, active: statuses.AutoAttack }">Auto Attack</button>
                        </td>
                        <td></td>
                        <td>
                            <button @click="current = 'fast-break'" :class="{ faded: !filtered.FastBreak, active: statuses.FastBreak }">Fast Break</button>
                        </td>
                        <td>
                            <button @click="current = 'particles'" :class="{ faded: !filtered.Particles, active: statuses.Particles }">Particles</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button @click="current = 'schematica'" :class="{ faded: !filtered.Schematica, active: statuses.Schematica }">Schematica (ALPHA)</button>
                        </td>
                        <td></td>
                        <td>
                            <button @click="current = 'reach'" :class="{ faded: !filtered.Reach, active: statuses.Reach }">Reach</button>
                        </td>
                        <td>
                            <button @click="current = 'zoom'" :class="{ faded: !filtered.Zoom, active: statuses.Zoom }">Zoom</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button @click="current = 'auto-hotbar'" :class="{ faded: !filtered.AutoHotbar, active: statuses.AutoHotbar }">Auto Hotbar</button>
                        </td>
                        <td></td>
                        <td>
                            <button @click="current = 'teleport-hack'" :class="{ faded: !filtered.TeleportHack, active: statuses.TeleportHack }">Teleport</button>
                        </td>
                        <td>
                            <button @click="current = 'performance'" :class="{ faded: !filtered.Performance, active: statuses.Performance }">Performance</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <button @click="current = 'fake-lag'" :class="{ faded: !filtered.FakeLag, active: statuses.FakeLag }">Fake Lag</button>
                        </td>
                        <td>
                            <button @click="current = 'world-markers'" :class="{ faded: !filtered.WorldMarkers, active: statuses.WorldMarkers }">World Markers</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <button @click="current = 'blink'" :class="{ faded: !filtered.Blink, active: statuses.Blink }">Blink</button>
                        </td>
                        <td>
                            <button @click="current = 'bob-hurt'" :class="{ faded: !filtered.BobHurt, active: statuses.BobHurt }">Hurt Bobbing</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <button @click="current = 'boat-hack'" :class="{ faded: !filtered.BoatHack, active: statuses.BoatHack }">Boat</button>
                        </td>
                        <td>
                            <button @click="current = 'no-weather'" :class="{ faded: !filtered.NoWeather, active: statuses.NoWeather }">No Weather</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <button @click="current = 'inv-move'" :class="{ faded: !filtered.InvMove, active: statuses.InvMove }">Inv Move <s>Forge</s></button>
                        </td>
                        <td>
                            <button @click="current = 'fake-weather'" :class="{ faded: !filtered.FakeWeather, active: statuses.FakeWeather }">Fake Weather</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <button @click="current = 'area-mine'" :class="{ faded: !filtered.AreaMine, active: statuses.AreaMine }">Area Mine</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <button @click="current = 'server-plugins'" :class="{ faded: !filtered.ServerPlugins, active: statuses.ServerPlugins }">Server Plugins</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <button @click="current = 'hitbox-size'" :class="{ faded: !filtered.HitboxSize, active: statuses.HitboxSize }">HitBox Size</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <button @click="current = 'bedrock-breaker'" :class="{ faded: !filtered.BedrockBreaker, active: statuses.BedrockBreaker }">Bedrock Breaker</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <blocks-config
            v-if="current == 'blocks'"
            @back="backToMain()">
        </blocks-config>

        <entities-config
            v-if="current == 'entities'"
            @back="backToMain()">
        </entities-config>

        <auto-fish-config
            v-if="current == 'auto-fish'"
            @back="backToMain()">
        </auto-fish-config>

        <full-bright-config
            v-if="current == 'full-bright'"
            @back="backToMain()">
        </full-bright-config>

        <armor-overlay-config
            v-if="current == 'armor-overlay'"
            @back="backToMain()">
        </armor-overlay-config>

        <kill-aura-config
            v-if="current == 'kill-aura'"
            @back="backToMain()">
        </kill-aura-config>

        <boat-hack-config
            v-if="current == 'boat-hack'"
            @back="backToMain()">
        </boat-hack-config>

        <elytra-hack-config
            v-if="current == 'elytra-hack'"
            @back="backToMain()">
        </elytra-hack-config>

        <pig-hack-config
            v-if="current == 'pig-hack'"
            @back="backToMain()">
        </pig-hack-config>

        <auto-disconnect-config
            v-if="current == 'auto-disconnect'"
            @back="backToMain()">
        </auto-disconnect-config>

        <shulker-tooltip-config
            v-if="current == 'shulker-tooltip'"
            @back="backToMain()">
        </shulker-tooltip-config>

        <projectile-path-config
            v-if="current == 'projectile-path'"
            @back="backToMain()">
        </projectile-path-config>

        <end-city-chunks-config
            v-if="current == 'end-city-chunks'"
            @back="backToMain()">
        </end-city-chunks-config>

        <light-level-config
            v-if="current == 'light-level'"
            @back="backToMain()">
        </light-level-config>

        <lock-inputs-config
            v-if="current == 'lock-inputs'"
            @back="backToMain()">
        </lock-inputs-config>

        <entity-owner-config
            v-if="current == 'entity-owner'"
            @back="backToMain()">
        </entity-owner-config>

        <exploration-mini-map-config
            v-if="current == 'exploration-mini-map'"
            @back="backToMain()">
        </exploration-mini-map-config>

        <auto-criticals-config
            v-if="current == 'auto-criticals'"
            @back="backToMain()">
        </auto-criticals-config>

        <fly-hack-config
            v-if="current == 'fly-hack'"
            @back="backToMain()">
        </fly-hack-config>

        <auto-totem-config
            v-if="current == 'auto-totem'"
            @back="backToMain()">
        </auto-totem-config>

        <death-coordinates-config
            v-if="current == 'death-coordinates'"
            @back="backToMain()">
        </death-coordinates-config>

        <elytra-tunnel-config
            v-if="current == 'elytra-tunnel'"
            @back="backToMain()">
        </elytra-tunnel-config>

        <free-cam-config
            v-if="current == 'free-cam'"
            @back="backToMain()">
        </free-cam-config>

        <movement-hack-config
            v-if="current == 'movement-hack'"
            @back="backToMain()">
        </movement-hack-config>

        <scaffold-config
            v-if="current == 'scaffold'"
            @back="backToMain()">
        </scaffold-config>

        <advanced-tooltips-config
            v-if="current == 'advanced-tooltips'"
            @back="backToMain()">
        </advanced-tooltips-config>

        <fog-config
            v-if="current == 'fog'"
            @back="backToMain()">
        </fog-config>

        <instant-disconnect-config
            v-if="current == 'instant-disconnect'"
            @back="backToMain()">
        </instant-disconnect-config>

        <scripts-config
            v-if="current == 'scripts'"
            @back="backToMain()">
        </scripts-config>

        <world-markers-config
            v-if="current == 'world-markers'"
            @back="backToMain()">
        </world-markers-config>

        <user-name-config
            v-if="current == 'user-name'"
            @back="backToMain()">
        </user-name-config>

        <new-chunks-config
            v-if="current == 'new-chunks'"
            @back="backToMain()">
        </new-chunks-config>

        <auto-drop-config
            v-if="current == 'auto-drop'"
            @back="backToMain()">
        </auto-drop-config>

        <chunks-config
            v-if="current == 'chunks'"
            @back="backToMain()">
        </chunks-config>

        <container-buttons-config
            v-if="current == 'container-buttons'"
            @back="backToMain()">
        </container-buttons-config>

        <status-overlay-config
            v-if="current == 'status-overlay'"
            @back="backToMain()">
        </status-overlay-config>

        <status-effects-config
            v-if="current == 'status-effects'"
            @back="backToMain()">
        </status-effects-config>

        <auto-eat-config
            v-if="current == 'auto-eat'"
            @back="backToMain()">
        </auto-eat-config>

        <no-fall-config
            v-if="current == 'no-fall'"
            @back="backToMain()">
        </no-fall-config>

        <particles-config
            v-if="current == 'particles'"
            @back="backToMain()">
        </particles-config>

        <anti-respawn-reset-config
            v-if="current == 'anti-respawn-reset'"
            @back="backToMain()">
        </anti-respawn-reset-config>

        <fast-break-config
            v-if="current == 'fast-break'"
            @back="backToMain()">
        </fast-break-config>

        <container-summary-config
            v-if="current == 'container-summary'"
            @back="backToMain()">
        </container-summary-config>

        <auto-craft-config
            v-if="current == 'auto-craft'"
            @back="backToMain()">
        </auto-craft-config>

        <reach-config
            v-if="current == 'reach'"
            @back="backToMain()">
        </reach-config>

        <game-tick-scripting-config
            v-if="current == 'game-tick-scripting'"
            @back="backToMain()">
        </game-tick-scripting-config>

        <zoom-config
            v-if="current == 'zoom'"
            @back="backToMain()">
        </zoom-config>

        <schematica-config
            v-if="current == 'schematica'"
            @back="backToMain()">
        </schematica-config>

        <auto-bucket-config
            v-if="current == 'auto-bucket'"
            @back="backToMain()">
        </auto-bucket-config>

        <world-download-config
            v-if="current == 'world-download'"
            @back="backToMain()">
        </world-download-config>

        <performance-config
            v-if="current == 'performance'"
            @back="backToMain()">
        </performance-config>

        <entity-title-config
            v-if="current == 'entity-title'"
            @back="backToMain()">
        </entity-title-config>

        <teleport-hack-config
            v-if="current == 'teleport-hack'"
            @back="backToMain()">
        </teleport-hack-config>

        <fake-lag-config
            v-if="current == 'fake-lag'"
            @back="backToMain()">
        </fake-lag-config>

        <coordinate-leak-protection-config
            v-if="current == 'coordinate-leak-protection'"
            @back="backToMain()">
        </coordinate-leak-protection-config>

        <tps-config
            v-if="current == 'tps'"
            @back="backToMain()">
        </tps-config>

        <block-automation-config
            v-if="current == 'block-automation'"
            @back="backToMain()">
        </block-automation-config>

        <blink-config
            v-if="current == 'blink'"
            @back="backToMain()">
        </blink-config>

        <bob-hurt-config
            v-if="current == 'bob-hurt'"
            @back="backToMain()">
        </bob-hurt-config>

        <auto-attack-config
            v-if="current == 'auto-attack'"
            @back="backToMain()">
        </auto-attack-config>

        <no-weather-config
            v-if="current == 'no-weather'"
            @back="backToMain()">
        </no-weather-config>

        <fake-weather-config
            v-if="current == 'fake-weather'"
            @back="backToMain()">
        </fake-weather-config>

        <chat-utilities-config
            v-if="current == 'chat-utilities'"
            @back="backToMain()">
        </chat-utilities-config>

        <exec-config
            v-if="current == 'exec'"
            @back="backToMain()">
        </exec-config>

        <villager-roller-config
            v-if="current == 'villager-roller'"
            @back="backToMain()">
        </villager-roller-config>

        <auto-hotbar-config
            v-if="current == 'auto-hotbar'"
            @back="backToMain()">
        </auto-hotbar-config>

        <inv-move-config
            v-if="current == 'inv-move'"
            @back="backToMain()">
        </inv-move-config>

        <area-mine-config
            v-if="current == 'area-mine'"
            @back="backToMain()">
        </area-mine-config>

        <server-plugins-config
            v-if="current == 'server-plugins'"
            @back="backToMain()">
        </server-plugins-config>

        <hitbox-size-config
            v-if="current == 'hitbox-size'"
            @back="backToMain()">
        </hitbox-size-config>

        <bedrock-breaker-config
            v-if="current == 'bedrock-breaker'"
            @back="backToMain()">
        </bedrock-breaker-config>

        <events-scripting-config
            v-if="current == 'events-scripting'"
            @back="backToMain()">
        </events-scripting-config>

        <profiles-config
            v-if="current == 'profiles'"
            @back="backToMain()">
        </profiles-config>

        <core-config
            v-if="current == 'core'"
            @back="backToMain()">
        </core-config>

    </div>

    <script type="module" src="app.js"></script>

</body>
</html>