<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zergatul Cheat Utils</title>
    <link rel="icon" href="/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <div id="vue-app">
        <div class="main-header">
            <div class="title">
                <a href="/#">cheatutils</a>
                <template v-if="module">
                    → <a :href="'/#/' + module.path">{{ module.name }}</a>
                </template>
            </div>
            <div class="search">
                <input type="text" placeholder="Search modules..."
                    v-if="isMain()"
                    v-model="search"
                    ref="searchInput"
                    @input="onFilterInput()"
                    @keydown="onFilterKeyDown($event)">
            </div>
        </div>
        <component :is="view"></component>
    </div>

    <script type="module" src="app.js"></script>
</body>
</html>