div.main {
    flex-grow: 1;
}

div.modules {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin: 0.5em;
}

div.module-group {
    background-color: var(--color3);
    border-radius: 2em;
    display: flex;
    justify-content: center;
    width: 8em;
    padding: 1em;
    flex-direction: column;
    justify-content: start;
    gap: 0.15em;
}

div.module-group-header {
    color: var(--color8);
    font-size: 1.5em;
    text-align: center;
}

div.module-group > button {
    background-color: var(--color4);
    border-width: 0;
    border-radius: 0.5em;
    color: var(--color1);
    font-family: var(--font);
    font-size: 1em;
}

div.module-group > button.active {
    color: var(--color7);
}

div.module-group > button:hover {
    background-color: var(--color6);
}

div.module-group > button.faded {
    opacity: 0.2;
}