div.main {
    flex-grow: 1;
}

div.modules {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin: 0.6em 0.5em 0 0.5em;
}

div.modules > .groupedModule {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.module-group {
    background-color: var(--boxColor);
    border: 2px solid;
    border-radius: 1em;
    display: flex;
    width: 8em;
    height: min-content;
    padding: 0.7em;
    flex-direction: column;
    justify-content: start;
    gap: 0.2em;
    border-color: var(--borderColorTop) var(--borderColorRight)
        var(--borderColorBottom) var(--borderColorLeft);
    box-shadow: 0.1em 0.1em 0.6em black;
}

div.module-group-header {
    color: var(--moduleTypeColor);
    font-size: 1.5em;
    text-align: center;
}

div.module-group > button {
    background-color: var(--boxColor);
    border: 2px solid;
    border-radius: 0.45em;
    color: var(--moduleTextColor);
    font-family: var(--font);
    font-size: 1em;
    border-color: var(--borderColorTop) var(--borderColorRight)
        var(--borderColorBottom) var(--borderColorLeft);
    box-shadow: 0.1em 0.1em 0.6em black;
}

div.module-group > button.external {
    color: var(--hrefButtonColor);
}

div.module-group > button.active {
    color: var(--activatedColor);
}

div.module-group > button:hover {
    background-color: var(--boxColorHover);
}

div.module-group > button.faded {
    opacity: 0.2;
}

div.module-sections .script-editor {
    border: 1px solid;
    border-radius: 0.6em;
    border-color: var(--borderColorTop) var(--borderColorRight)
        var(--borderColorBottom) var(--borderColorLeft);
    box-shadow: 0.1em 0.1em 0.6em black;
}
