<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">Auto Fish</h2>
        <div class="description">
            To start automatic fishing, throw fishing bobber once. To stop you can pull bobber manually or disable it.
        </div>

        <div class="module-sections">
            <label class="switch-label">
                <input type="checkbox" class="switch"
                  v-model="config.enabled"
                  @change="update()">
                <span>Enabled</span>
            </label>
        </div>
    </div>
</div>
