<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">Auto Totem</h2>
        <div class="description">
            Automatically puts Totem of Undying into your offhand slot, if this slot is empty and you have totem in your inventory.
        </div>

        <div class="module-sections">
            <label class="switch-label">
                <input type="checkbox" class="switch"
                    v-model="config.enabled"
                    @change="update()">
                <span>Enabled</span>
            </label>
        </div>
    </div>
</div>
