<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">Bedrock Breaker</h2>
        <div class="description">
            Breaks bedrock with single button click.
        </div>
        <div class="module-sections">
            <div class="description">
                Conditions:
                <ul>
                    <li>Netherite Pickaxe Efficiency 5 on hotbar</li>
                    <li>Some amount of pistons on hotbar</li>
                    <li>Some amount of redstone torches on hotbar</li>
                    <li>Haste 2 effect from beacon (you should be able to instamine pistons)</li>
                </ul>
                How to use:
                <ul>
                    <li>Add <b>bedrockBreaker.process();</b> to keybinding</li>
                    <li>Target bedrock block</li>
                    <li>Ensure there are 2 empty blocks above bedrock</li>
                    <li>Ensure there is 1 block on the side of bedrock. Redstone torch will be placed on top of this block.</li>
                    <li>Press hotkey</li>
                    <li>If something goes wrong you should see system message</li>
                </ul>
                In this way you can break 1 bedrock by targeting it and pressing hotkey.<br>
                Or you can use <b>bedrockBreaker.processNearby();</b> method to automatically break all nearby bedrock blocks at the highest Y level.
            </div>
            <div>
                <label class="switch-label">
                    <input type="checkbox" class="switch"
                        v-model="config.placeSupportBlock"
                        @change="update()">
                    <span>If there is no horizontally adjacent blocks to current bedrock, module can place support block automatically.</span>
                </label>
            </div>
            <div>
                <div class="input-section">
                    <span class="field-description">Support block ID:</span>
                    <input type="text" v-model="config.supportBlockId" @change="update()">
                </div>
            </div>
            <div>
                <label class="switch-label">
                    <input type="checkbox" class="switch"
                        v-model="config.replace"
                        @change="update()">
                    <span>Replace bedrock with another block (to prevent items falling into the void)</span>
                </label>
            </div>
            <div>
                <div class="input-section">
                    <span class="field-description">Replace block ID:</span>
                    <input type="text" v-model="config.replaceBlockId" @change="update()">
                </div>
            </div>
        </div>
    </div>
</div>