<div>
    <div v-if="state == 'list'">
        <div>
            <button style="width: 200px;" @click="$emit('back')">Back</button>
            <button style="width: 200px;" @click="openAdd()">Add Block</button>
        </div>
        <ul class="list-base blocks-list">
            <template v-for="item in blocksConfigList" :key="item.blocks[0]">
                <li v-bind="{ 'data-id': item.blocks[0] }">
                    <div class="c0">
                        <div v-if="item.blocks.length > 1" @click="expandGroup(item)">
                            {{ item.expanded ? '▼' : '▶' }}
                        </div>
                    </div>
                    <div class="c1">
                        <div></div>
                    </div>
                    <div class="c2">
                        <div>{{ blocksMap[item.blocks[0]].name }}</div>
                        <div class="smaller">{{ item.blocks[0] }}</div>
                    </div>
                    <div class="c3">
                        <label class="switch-label">
                            <input type="checkbox" class="switch"
                                v-model="item.enabled"
                                @change="update(item)">
                            <span>Enabled</span>
                        </label>
                    </div>
                    <div class="c4">
                        <label class="switch-label">
                            <input type="checkbox" class="switch"
                                v-model="item.drawTracers"
                                @change="update(item)">
                            <color-box :color="item.tracerColor"></color-box>
                            <span>T</span>
                        </label>
                    </div>
                    <div class="c5">
                        <label class="switch-label">
                            <input type="checkbox" class="switch"
                                v-model="item.drawOutline"
                                @change="update(item)">
                            <color-box :color="item.outlineColor"></color-box>
                            <span>B</span>
                        </label>
                    </div>
                    <div class="c6">
                        <button class="edit" @click="openEdit(item.blocks[0])">Edit</button>
                    </div>
                    <div class="c6">
                        <button class="remove" @click="removeById(item.blocks[0])">Remove</button>
                    </div>
                </li>
                <template v-if="item.expanded">
                    <template v-for="(block, index) in item.blocks" :key="block">
                        <li v-bind="{ 'data-id': block }" v-if="index >= 1">
                            <div class="c0"></div>
                            <div class="c1">
                                <div></div>
                            </div>
                            <div class="c2">
                                <div>{{ blocksMap[block].name }}</div>
                                <div class="smaller">{{ block }}</div>
                            </div>
                            <div class="c3"></div>
                            <div class="c4"></div>
                            <div class="c5"></div>
                            <div class="c6"></div>
                            <div class="c6"></div>
                        </li>
                    </template>
                </template>
            </template>
        </ul>
        <div class="section-description" style="margin-top: 16px;">Use Ctrl+F5 in your browser if block textures are messed up after switching Minecraft versions or mod loaders.</div>
    </div>
    <div v-if="state == 'add'">
        <div style="padding-bottom: 16px;">
            <button style="width: 200px;" @click="backToList()">Back</button>
        </div>
        <div>
            <span class="text">Filter:</span>
            <input type="text" class="search"
                v-model="search"
                @input="filterBlockList()">
        </div>
        <ul class="list-base add-block-list">
            <li v-for="item in blockListFiltered" :key="item.id" v-bind="{ 'data-id': item.id }">
                <div class="c1">
                    <div></div>
                </div>
                <div class="c2">
                    <div>{{ item.name }}</div>
                    <div class="smaller">{{ item.id }}</div>
                </div>
                <div class="c3">
                    <button class="edit" v-bind:class="{ 'button-highlight': blocksConfigMap[item.id] }" @click="openEdit(item.id)">
                        {{ blocksConfigMap[item.id] ? 'Edit' : 'Add' }}
                    </button>
                </div>
            </li>
        </ul>
    </div>
    <div v-if="state == 'edit'">
        <div>
            <button style="width: 200px;" @click="backToList()">Back</button>
            <button style="width: 200px;" @click="remove()">Delete</button>
            <button style="width: 200px;" @click="editGroup()">Edit Blocks in Group...</button>
        </div>
        <div v-if="selectedConfig">
            <table class="edit-block-header">
                <tbody>
                    <tr>
                        <td>
                            <div class="btn" v-if="selectedConfig.blocks.length > 1" @click="selectedConfig.expanded = !selectedConfig.expanded">
                                {{ selectedConfig.expanded ? '▼' : '▶' }}
                            </div>
                        </td>
                        <td>
                            <div>{{ blocksMap[selectedConfig.blocks[0]].name }}</div>
                            <div class="smaller">{{ selectedConfig.blocks[0] }}</div>
                        </td>
                    </tr>
                    <template v-if="selectedConfig.expanded">
                        <template v-for="(block, index) in selectedConfig.blocks" :key="block">
                            <tr v-if="index >= 1">
                                <td></td>
                                <td>
                                    <div>{{ blocksMap[block].name }}</div>
                                    <div class="smaller">{{ block }}</div>
                                </td>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>
            <div class="edit-block-settings">
                <label class="switch-label">
                    <input type="checkbox" class="switch"
                        v-model="selectedConfig.enabled"
                        @change="update(selectedConfig)">
                    <span>Enabled</span>
                </label>
            </div>
            <div>
                <span class="text">Max Distance:</span>
                <input type="text" v-model="selectedConfig.maxDistance" @change="update(selectedConfig)">
            </div>
            <fieldset style="margin-top: 16px;">
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="selectedConfig.drawTracers"
                            @change="update(selectedConfig)">
                        <span>Tracer</span>
                    </label>
                </legend>
                <div style="display: flex;">
                    <div class="color-picker-container">
                        <color-picker
                            v-model="selectedConfig.tracerColor"
                            @update:model-value="update(selectedConfig)">
                        </color-picker>
                    </div>
                    <div class="group-setting esp-additional">
                        <div>
                            <span class="field-description">Max Distance Override:</span>
                            <input type="text" v-model="selectedConfig.tracerMaxDistance" @change="update(selectedConfig)">
                        </div>
                        <div class="section-description">
                            Leave this empty to use Max Distance value specified at the top.
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="selectedConfig.drawOutline"
                            @change="update(selectedConfig)">
                        <span>Bounding Box</span>
                    </label>
                </legend>
                <div style="display: flex;">
                    <div class="color-picker-container">
                        <color-picker
                            v-model="selectedConfig.outlineColor"
                            @update:model-value="update(selectedConfig)">
                        </color-picker>
                    </div>
                    <div class="group-setting esp-additional">
                        <div>
                            <span class="field-description">Max Distance Override:</span>
                            <input type="text" v-model="selectedConfig.outlineMaxDistance" @change="update(selectedConfig)">
                        </div>
                        <div class="section-description">
                            Leave this empty to use Max Distance value specified at the top.
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="selectedConfig.drawOverlay"
                            @change="update(selectedConfig)">
                        <span>Overlay</span>
                    </label>
                </legend>
                <div style="display: flex;">
                    <div class="color-picker-container">
                        <color-picker
                            v-model="selectedConfig.overlayColor"
                            @update:model-value="update(selectedConfig)">
                        </color-picker>
                    </div>
                    <div class="group-setting esp-additional">
                        
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div v-if="state == 'edit-group'">
        <div style="padding-bottom: 16px;">
            <button style="width: 200px;" @click="backToEdit()">Back</button>
        </div>
        <div>
            <span class="text">Filter:</span>
            <input type="text" class="search"
                v-model="search"
                @input="filterBlockList()">
        </div>
        <ul class="list-base add-block-list">
            <li v-for="item in blockListFiltered" :key="item.id" v-bind="{ 'data-id': item.id }">
                <div class="c0">
                    <input type="checkbox" v-if="groupEditShouldShowCheckbox(item)"
                        :disabled="groupEditIsCheckboxDisabled(item)"
                        :checked="groupEditGetCheckboxSelected(item)"
                        @input="event => groupEditSetCheckboxSelected(item, event)">
                </div>
                <div class="c1">
                    <div></div>
                </div>
                <div class="c2">
                    <div>{{ item.name }}</div>
                    <div class="smaller">{{ item.id }}</div>
                </div>
            </li>
        </ul>
    </div>
</div>