<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">Boat Hack</h2>

        <div class="module-sections">
            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.overrideFriction"
                            @change="update()">
                        <span>Override friction</span>
                    </label>
                </legend>
                <div class="input-section">
                    <span class="field-description">Friction:</span>
                    <input type="text" v-model="config.friction" @change="update()">
                </div>
                <div class="section-description">
                    Allows you override friction, so your boat can move faster. Regular blocks friction = 0.6. Packed ice friction = 0.98.
                </div>
            </fieldset>
    
            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.fly"
                            @change="update()">
                        <span>Boat Fly</span>
                    </label>
                </legend>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <span class="field-description">Horizontal Speed:</span>
                            </td>
                            <td>
                                <input type="text" v-model="config.horizontalFlySpeed" @change="update()">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="field-description">Vertical Speed:</span>
                            </td>
                            <td>
                                <input type="text" v-model="config.verticalFlySpeed" @change="update()">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="section-description">
                    Use "Jump" key to move up, "Sprint" key to move down. "Sneak" key behavior remains the same.
                </div>
            </fieldset>
        </div>
    </div>
</div>