<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">Chat Utilities</h2>
        <div class="description">
            ?
        </div>

        <div class="module-sections">
            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.dontCloseChatOnEnter"
                            @change="update()">
                        <span>Don't Close On Enter</span>
                    </label>
                </legend>
                <div class="section-description">
                    When you type something in chat, and press enter to send, chat remains open. If you press enter with no message - chat closes. Or you can use Esc button as usual.
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.overrideMessageLimit"
                            @change="update()">
                        <span>Override Message Limit</span>
                    </label>
                </legend>
                <div class="input-section">
                    <input type="text" v-model="config.messageLimit" @change="update()">
                </div>
                <div class="section-description">
                    Default value: 100.
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.showTime"
                            @change="update()">
                        <span>Show Time</span>
                    </label>
                </legend>
                <div class="input-section">
                    <input type="text" v-model="config.timeFormat" @change="update()">
                </div>
                <div class="section-description">
                    <ul>
                        <li>HH - hours in 24 format</li>
                        <li>hh - hours in 12 format</li>
                        <li>a - AM/PM</li>
                        <li>mm - minutes</li>
                        <li>ss - seconds</li>
                        <li>SSS - milliseconds</li>
                    </ul>
                    Full documentation about format string: https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html
                </div>
            </fieldset>
        </div>
    </div>
</div>