<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <fieldset style="padding-top: 16px;" v-if="config">
        <legend>Chunks</legend>
        <div class="description">
            Overrides server render distance. Some servers have pretty low render distance, and your game setting is getting overriden. For example, if server set render distance = 6 chunks, that means game doesn't render blocks 6*16=96 distance above or below you. If you select below option, you can see far above/below you (if you have decent Render Distance in-game setting).
        </div>
        <div>
            <label class="switch-label">
                <input type="checkbox" class="switch"
                    v-model="config.ignoreServerViewDistance"
                    @change="update()">
                <span>Ignore server view distance</span>
            </label>
        </div>
        <div class="description">
            Show unloaded chunks if they are in view distance. Makes your Minecraft client to respect your Render/Simulation Distance from game settings, and ignore settings set by server. Since these settings are set by server during login process, you need to relogin if you change Render/Simulation Distance.
        </div>
        <div>
            <label class="switch-label">
                <input type="checkbox" class="switch"
                    v-model="config.dontUnloadChunks"
                    @change="update()">
                <span>Don't unload chunks</span>
            </label>
        </div>
    </fieldset>
</div>