<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">Core Config</h2>
        <div class="description">
            
        </div>

        <div class="module-sections">
            <fieldset>
                <legend>
                    HTTP Server Default Port
                </legend>
                <div class="input-section">
                    <input type="text" v-model="config.port" @change="update()">
                </div>
                <div class="section-description">
                    Default value: 5005
                </div>
            </fieldset>
        </div>
    </div>
</div>