<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">Elytra Fly</h2>
        <div class="description">
            Allows you to fly with Elytra without rockets.
        </div>

        <div class="module-sections">
            <div>
                <label class="switch-label">
                    <input type="checkbox" class="switch"
                           v-model="config.enabled"
                           @change="update()">
                    <span>Enabled</span>
                </label>
            </div>

            <fieldset>
                <legend>
                    Method
                </legend>
                <div class="input-section">
                    <div style="padding: 2px; display: flex;">
                        <label>
                            <input type="radio" name="method" value="VanillaFly" v-model="config.method" @change="update()">
                            <span class="text">Vanilla Fly (use Jump/Sneak/Forward/Backward keys to gain speed)</span>
                        </label>
                    </div>
                    <div style="padding: 2px; display: flex;">
                        <label>
                            <input type="radio" name="method" value="CreativeFly" v-model="config.method" @change="update()">
                            <span class="text">Creative Fly (you fly like in creative mode)</span>
                        </label>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    Speed Settings
                </legend>
                <div>
                    <span class="field-description" style="width: 180px;">Max Speed:</span>
                    <input type="text" v-model="config.maxSpeed" @change="update()">
                    <div class="input-description">Blocks/second</div>
                </div>
                <div v-show="config.method == 'VanillaFly'">
                    <span class="field-description" style="width: 180px;">Vertical Acceleration:</span>
                    <input type="text" v-model="config.vanillaFlyVerticalAcceleration" @change="update()">
                    <div class="input-description">Blocks/sec^2, when you hold Jump or Sneak</div>
                </div>
                <div v-show="config.method == 'VanillaFly'">
                    <span class="field-description" style="width: 180px;">Horizontal Acceleration:</span>
                    <input type="text" v-model="config.vanillaFlyHorizontalAcceleration" @change="update()">
                    <div class="input-description">Blocks/sec^2, when you hold Forward or Backward</div>
                </div>
            </fieldset>
        </div>
    </div>
</div>