<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">Entity Title</h2>
        <div class="description">
            Overhauls Minecraft default entity title system. Displays titles with static font size with no distance fade out.<br>
            Use Entity ESP to enable this for specific entities.
        </div>
        <div class="module-sections">
            <fieldset>
                <legend>
                    Titles Font
                </legend>
                <div class="input-section">
                    <span class="field-description">Font Size:</span>
                    <input type="text" v-model="config.fontSize" @change="update()">
                </div>
                <div class="input-section">
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.antiAliasing"
                            @change="update()">
                        <span>Anti Aliasing</span>
                    </label>
                </div>
                <div class="section-description">
                    Font face: Consolas. Anti Aliasing looks better with bigger font size (about 18+).
                </div>
            </fieldset>
    
            <fieldset>
                <legend>
                    Enchantments Font
                </legend>
                <div class="input-section">
                    <span class="field-description">Font Size:</span>
                    <input type="text" v-model="config.enchFontSize" @change="update()">
                </div>
                <div class="input-section">
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.enchAntiAliasing"
                            @change="update()">
                        <span>Anti Aliasing</span>
                    </label>
                </div>
                <div class="section-description">
                    Font face: Consolas. Anti Aliasing looks better with bigger font size (about 18+).
                </div>
            </fieldset>
        </div>
    </div>
</div>