<div>
    <div v-if="state == 'list'">
        <div>
            <button style="width: 200px;" @click="$emit('back')">Back</button>
            <button style="width: 200px;" @click="openAdd()" v-show="entitiesConfigList">Add Entity</button>
        </div>
        <ul class="list-base entities-list">
            <li v-for="item in entitiesConfigList" :key="item.clazz">
                <div class="c2">
                    <div class="entity-info-r1" :class="{ 'entity-info-interface': entitiesMap[item.clazz].isInterface }">
                        <div class="entity-info-classname">{{ entitiesMap[item.clazz].simpleName }}</div>
                        <div class="smaller entity-info-id" v-if="entitiesMap[item.clazz].id">{{ entitiesMap[item.clazz].id }}</div>
                    </div>
                    <div class="smaller" v-if="!entitiesMap[item.clazz].isInterface">
                        <span class="entity-tree" v-for="clazz in entitiesMap[item.clazz].baseClasses">
                            🠞 {{ entitiesMap[clazz].simpleName }}
                        </span>
                        <span class="entity-tree" v-for="interface in entitiesMap[item.clazz].interfaces">
                            ⊕ {{ entitiesMap[interface].simpleName }}
                        </span>
                    </div>
                    <div class="smaller">{{ item.clazz }}</div>
                </div>
                <div class="c3">
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="item.enabled"
                            @change="update(item)">
                        <span>Enabled</span>
                    </label>
                </div>
                <div class="c4">
                    <label class="switch-label" title="Tracers">
                        <input type="checkbox" class="switch"
                            v-model="item.drawTracers"
                            @change="update(item)">
                        <color-box :color="item.tracerColor"></color-box>
                        <span>T</span>
                    </label>
                </div>
                <div class="c4">
                    <label class="switch-label" title="Glow">
                        <input type="checkbox" class="switch"
                            v-model="item.glow"
                            @change="update(item)">
                        <color-box :color="item.glowColor"></color-box>
                        <span>G</span>
                    </label>
                </div>
                <div class="c4">
                    <label class="switch-label" title="Outline">
                        <input type="checkbox" class="switch"
                            v-model="item.drawOutline"
                            @change="update(item)">
                        <color-box :color="item.outlineColor"></color-box>
                        <span>O</span>
                    </label>
                </div>
                <div class="c5">
                    <button @click="moveUp(item)">🡅</button>
                    <button @click="moveDown(item)">🡇</button>
                </div>
                <div class="c6">
                    <button class="edit" @click="openEdit(item.clazz)">Edit</button>
                    <button class="remove" @click="removeByClass(item.clazz)">Remove</button>
                </div>
            </li>
        </ul>
    </div>
    <div v-if="state == 'add'">
        <div style="padding-bottom: 16px;">
            <button style="width: 200px;" @click="backToList()">Back</button>
        </div>
        <div>
            <span class="text">Filter:</span>
            <input type="text" class="search"
                v-model="search"
                @input="filterEntityList()">
        </div>
        <ul class="list-base add-entity-list">
            <li v-for="item in entityListFiltered" :key="item.clazz">
                <div class="c2">
                    <div class="entity-info-r1" :class="{ 'entity-info-interface': item.isInterface }">
                        <div class="entity-info-classname">{{ item.simpleName }}</div>
                        <div class="smaller entity-info-id" v-if="item.id">{{ item.id }}</div>
                    </div>
                    <div class="smaller" v-if="!item.isInterface">
                        <span class="entity-tree" v-for="clazz in item.baseClasses">
                            🠞 {{ entitiesMap[clazz].simpleName }}
                        </span>
                        <span class="entity-tree" v-for="interface in item.interfaces">
                            ⊕ {{ entitiesMap[interface].simpleName }}
                        </span>
                    </div>
                    <div class="smaller">{{ item.clazz }}</div>
                </div>
                <div class="c3">
                    <button class="edit" v-bind:class="{ 'button-highlight': entitiesConfigMap[item.clazz] }" @click="openEdit(item.clazz)">
                        {{ entitiesConfigMap[item.clazz] ? 'Edit' : 'Add' }}
                    </button>
                </div>
            </li>
        </ul>
    </div>
    <div v-if="state == 'edit'">
        <div>
            <button style="width: 200px;" @click="backToList()">Back</button>
            <button style="width: 200px;" @click="remove()">Delete</button>
        </div>
        <div v-if="selectedConfig">
            <div class="edit-block-header">
                <div>{{ entitiesMap[selectedConfig.clazz].simpleName }}</div>
                <div class="smaller">
                    <span class="entity-tree" v-for="clazz in entitiesMap[selectedConfig.clazz].baseClasses">
                        🠞 {{ entitiesMap[clazz].simpleName }}
                    </span>
                    <span class="entity-tree" v-for="interface in entitiesMap[selectedConfig.clazz].interfaces">
                        ⊕ {{ entitiesMap[interface].simpleName }}
                    </span>
                </div>
            </div>
            <div class="edit-block-settings">
                <div>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="selectedConfig.enabled"
                            @change="update(selectedConfig)">
                        <span>Enabled</span>
                    </label>
                </div>
                <div>
                    <span class="text">Max Distance:</span>
                    <input type="text" v-model="selectedConfig.maxDistance" @change="update(selectedConfig)">
                </div>
            </div>
            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="selectedConfig.drawTracers"
                            @change="update(selectedConfig)">
                        <span>Tracer</span>
                    </label>
                </legend>
                <div style="display: flex;">
                    <div class="color-picker-container">
                        <color-picker
                            v-model="selectedConfig.tracerColor"
                            @update:model-value="update(selectedConfig)" />
                    </div>
                    <div class="group-setting esp-additional">
                        <div>
                            <span class="field-description">Max Distance Override:</span>
                            <input type="text" v-model="selectedConfig.tracerMaxDistance" @change="update(selectedConfig)">
                        </div>
                        <div class="section-description">
                            Leave this empty to use Max Distance value specified at the top.
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="selectedConfig.glow"
                            @change="update(selectedConfig)">
                        <span>Outline</span>
                    </label>
                    <select v-model="selectedConfig.outlineMethod" @change="update(selectedConfig)">
                        <option value="0">Minecraft Built-In Glow Effect</option>
                        <option value="1">Mod Outline Effect</option>
                    </select>
                </legend>
                <div style="display: flex;">
                    <div class="color-picker-container">
                        <color-picker
                            v-model="selectedConfig.glowColor"
                            @update:model-value="update(selectedConfig)" />
                    </div>
                    <div class="group-setting esp-additional">
                        <div>
                            <span class="field-description">Max Distance Override:</span>
                            <input type="text" v-model="selectedConfig.glowMaxDistance" @change="update(selectedConfig)">
                        </div>
                        <div class="section-description">
                            Leave this empty to use Max Distance value specified at the top.
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="selectedConfig.drawOutline"
                            @change="update(selectedConfig)">
                        <span>Collision Box</span>
                    </label>
                </legend>
                <div style="display: flex;">
                    <div class="color-picker-container">
                        <color-picker
                            v-model="selectedConfig.outlineColor"
                            @update:model-value="update(selectedConfig)" />
                    </div>
                    <div class="group-setting esp-additional">
                        <div>
                            <span class="field-description">Max Distance Override:</span>
                            <input type="text" v-model="selectedConfig.outlineMaxDistance" @change="update(selectedConfig)">
                        </div>
                        <div class="section-description">
                            Leave this empty to use Max Distance value specified at the top.
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="selectedConfig.drawOverlay"
                            @change="update(selectedConfig)">
                        <span>Overlay</span>
                    </label>
                </legend>
                <div style="display: flex;">
                    <div class="color-picker-container">
                        <color-picker
                            v-model="selectedConfig.overlayColor"
                            @update:model-value="update(selectedConfig)" />
                    </div>
                    <div class="group-setting esp-additional">
                        
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="selectedConfig.drawTitles"
                            @change="update(selectedConfig)">
                        <span>Custom Title System</span>
                    </label>
                </legend>
                <div>
                    <div>
                        <label class="switch-label">
                            <input type="checkbox" class="switch"
                                v-model="selectedConfig.showHp"
                                @change="update(selectedConfig)">
                            <span>Show HP</span>
                        </label>
                    </div>
                    <div style="display: flex;">
                        <label class="switch-label">
                            <input type="checkbox" class="switch"
                                v-model="selectedConfig.showDefaultNames"
                                @change="update(selectedConfig)">
                            <span>Show Default Names</span>
                        </label>
                        <div class="section-description" style="display: flex; align-items: center;">
                            For example, zombie without Name Tag will be shown as "Zombie"
                        </div>
                    </div>
                    <div>
                        <label class="switch-label">
                            <input type="checkbox" class="switch"
                                v-model="selectedConfig.showEquippedItems"
                                @change="update(selectedConfig)">
                            <span>Show Equipped Items</span>
                        </label>
                    </div>
                    <div>
                        <label class="switch-label">
                            <input type="checkbox" class="switch"
                                v-model="selectedConfig.showOwner"
                                @change="update(selectedConfig)">
                            <span>Show Owner</span>
                        </label>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="selectedConfig.scriptEnabled"
                            @change="update(selectedConfig)">
                        <span>Custom Script</span>
                    </label>
                </legend>
                <template v-if="selectedConfig.scriptEnabled">
                    <div class="section-description">
                        Write script to add custom behavior to current Entity ESP config.<br>
                        You can change below on per entity basis:<br>
                        <ul>
                            <li>Disable Tracer/Outline/Overlay/Collision Box</li>
                            <li>Change text displayed in the title</li>
                        </ul>
                        Use <b>id</b> variable to get id of current entity.<br>
                        Use <b>currentEntityEsp</b> API to disable ESP things for current entity.<br>
                        Use <b>game.entities</b> API to get information about entity by its id.<br>
                        Warning! This script will be run for every frame rendered, and for every entity matching class or interface.<br>
                        Make sure to not execute complex code here, since it can hurt your FPS.
                    </div>
                    <div style="padding-top: 8px;">
                        <button style="width: 200px;" @click="saveCode()">Save</button>
                        <button style="width: 200px;" @click="showApiRef()">Show/Hide API Reference</button>
                    </div>
                    <div v-show="!showRefs">
                        <div>
                            <span class="text">Code:</span>
                        </div>
                        <div>
                            <script-editor v-model="code" :type="'entity-esp'"></script-editor>
                        </div>
                    </div>
                    <div v-show="showRefs">
                        <ul class="refs">
                            <li v-for="item in refs" v-html="item"></li>
                        </ul>
                    </div>
                </template>
            </fieldset>
        </div>
    </div>
</div>