<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">Fake Weather</h2>
        <div class="description">
            Once enabled minecraft ignores time and weather change packets from server. Allows you to manually set time or weather on client.
        </div>

        <div class="module-sections">
            <div>
                <label class="switch-label">
                    <input type="checkbox" class="switch"
                        v-model="config.enabled"
                        @change="update()">
                    <span>Enabled</span>
                </label>
            </div>

            <fieldset>
                <legend>
                    Override
                </legend>
                <div class="input-section">
                    <span class="field-description">Set day time (0..24000):</span>
                    <input type="text" v-model="dayTime">
                    <button style="width: 80px;" @click="setDayTime()">Set</button>
                </div>
                <div class="input-section">
                    <span class="field-description">Set rain level (0..1, 0 - no rain):</span>
                    <input type="text" v-model="rainLevel">
                    <button style="width: 80px;" @click="setRainLevel()">Set</button>
                </div>
            </fieldset>
        </div>
    </div>
</div>