<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">Free Cam</h2>
        <div class="description">
            You can move camera around and through blocks. Default key F6, but can be changed in options. You can open chests through walls or attack entities.<br>
        </div>

        <div class="module-sections">
            <fieldset>
                <legend>
                    Camera Speed Settings
                </legend>
                <table class="inputs-table">
                    <tbody>
                        <tr>
                            <td>
                                <span class="field-description">Acceleration:</span>
                            </td>
                            <td>
                                <input type="text" v-model="config.acceleration" @change="update()">
                            </td>
                            <td>
                                <div class="input-description">How quickly you reach max speed. Blocks/sec^2</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="field-description">Max Speed:</span>
                            </td>
                            <td>
                                <input type="text" v-model="config.maxSpeed" @change="update()">
                            </td>
                            <td>
                                <div class="input-description">Blocks/second</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="field-description">Slowdown Factor:</span>
                            </td>
                            <td>
                                <input type="text" v-model="config.slowdownFactor" @change="update()">
                            </td>
                            <td>
                                <div class="input-description">How quickly you slowdown after releasing key, closer to zero = quicker, closer to one = slower.</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.renderHands"
                            @change="update()">
                        <span>Render hands</span>
                    </label>
                </legend>
                <div class="section-description">
                    Doesn't work with OptiFine
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.target"
                            @change="update()">
                        <span>FreeCam Targeting</span>
                    </label>
                </legend>
                <div class="section-description">
                    Use FreeCam position and rotation to target blocks/entities.
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    Flight Method
                </legend>
                <div class="input-section">
                    <div style="padding: 2px; display: flex;">
                        <label>
                            <input type="radio" name="method" v-model="config.spectatorFlight" v-bind:value="false" @change="update()">
                            <span class="text">Default</span>
                        </label>
                    </div>
                    <div style="padding: 2px; display: flex;">
                        <label>
                            <input type="radio" name="method" v-model="config.spectatorFlight" v-bind:value="true" @change="update()">
                            <span class="text">Creative</span>
                        </label>
                    </div>
                </div>
            </fieldset>

            <fieldset v-if="path">
                <legend>Path</legend>
                <div>
                    <button style="width: 200px;" @click="addPathPoint()">Add</button>
                    <button style="width: 200px;" @click="clearPath()">Clear</button>
                </div>
                <div>
                    <span class="field-description">Points: {{ path.length }}</span>
                </div>
                <div>
                    <span class="field-description">Time (ms):</span>
                    <input type="text" v-model="time">
                </div>
                <div class="section-description">
                    Create path and automate camera movement (similar to Replay Mod). Use <b>freeCam.startPath();</b> API method to assign keybinding.<br>
                    To stop moving along path you can exit FreeCam mode.<br>
                    Specify time in millisecond between 2 points. Time is ignored for first point.<br>
                    To add camera point you must be in FreeCam mode. Module remembers current camera position and rotation.<br>
                    You can see camera path while in FreeCam.<br>
                </div>
            </fieldset>
        </div>
    </div>
</div>