<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
        <button style="width: 200px;" @click="save()" v-if="config">Save</button>
        <button style="width: 200px;" @click="showApiRef()">Show/Hide API Reference</button>
    </div>
    <div class="module-main">
        <h2 class="module-header">Game Tick Scripting</h2>
        <div>
            <span class="text">This module may be removed in the future. Move your code to <b>Events Scripting</b> module like this:</span>
            <pre>
  events.onHandleKeys(() => {
      // your code
  });
            </pre>
            <span class="text">Or if you want to run something every game tick, not related to handling keys, use this:</span>
            <pre>
  events.onTickEnd(() => {
      // your code
  });
            </pre>
        </div>

        <fieldset style="padding-top: 16px;" v-if="config">
            <legend><label class="switch-label">
                <input type="checkbox" class="switch"
                    v-model="config.enabled"
                    @change="update()">
                <span>Enabled</span>
            </label></legend>
            <div v-show="!showRefs">
                <div>
                    <script-editor v-model="code"></script-editor>
                </div>
            </div>
            <div v-show="showRefs">
                <ul class="refs">
                    <li v-for="item in refs" v-html="item"></li>
                </ul>
            </div>
        </fieldset>
    </div>
</div>
