<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">Hitbox Size</h2>
        <div class="description">
            Allows you to extend entities hitboxes.<br>
            Extended hitboxes are applied only during calculation of target entity and while rendering hitboxes in debug (F3+B).
        </div>

        <div class="module-sections">
            <div>
                <label class="switch-label">
                    <input type="checkbox" class="switch"
                        v-model="config.enabled"
                        @change="update()">
                    <span>Enabled</span>
                </label>
            </div>

            <fieldset>
                <legend>
                    Width
                </legend>
                <div class="input-section">
                    <div style="padding: 2px; display: flex;">
                        <label>
                            <input type="radio" name="width-mode" value="PERCENT" v-model="config.widthMode" @change="update()">
                            <input type="text" v-model="config.widthPercent" @change="update()">
                            <span class="text">Percents</span>
                        </label>
                    </div>
                    <div style="padding: 2px; display: flex;">
                        <label>
                            <input type="radio" name="width-mode" value="ABSOLUTE" v-model="config.widthMode" @change="update()">
                            <input type="text" v-model="config.widthAbsolute" @change="update()">
                            <span class="text">Absolute (in blocks)</span>
                        </label>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    Height
                </legend>
                <div class="input-section">
                    <div style="padding: 2px; display: flex;">
                        <label>
                            <input type="radio" name="height-mode" value="PERCENT" v-model="config.heightMode" @change="update()">
                            <input type="text" v-model="config.heightPercent" @change="update()">
                            <span class="text">Percents</span>
                        </label>
                    </div>
                    <div style="padding: 2px; display: flex;">
                        <label>
                            <input type="radio" name="height-mode" value="ABSOLUTE" v-model="config.heightMode" @change="update()">
                            <input type="text" v-model="config.heightAbsolute" @change="update()">
                            <span class="text">Absolute (in blocks)</span>
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>