<div>
    <div v-if="state == 'list'">
        <div>
            <button style="width: 200px;" @click="openAdd()">Add Item</button>
        </div>
        <div>
            <ul class="list-base" style="width: 800px;">
                <li v-for="item in items">
                    <button style="width: 200px;" @click="remove(item)">Remove</button>
                    {{ item }}
                </li>
            </ul>
        </div>
    </div>
    <div v-if="state == 'add'">
        <div style="padding-bottom: 16px;">
            <button style="width: 200px;" @click="backToList()">Back</button>
        </div>
        <div>
            <span class="text">Filter:</span>
            <input type="text" class="search"
                v-model="search"
                @input="filterItemList()">
        </div>
        <ul class="list-base" style="width: 800px;">
            <li v-for="item in itemListFiltered">
                <button style="width: 200px;" @click="add(item)">Add</button>
                {{ item }}
            </li>
        </ul>
    </div>
</div>