<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <fieldset style="padding-top: 16px;" v-if="list">
        <legend>Scripts</legend>
        <div v-if="mode == 'list'">
            <div style="padding-left: 16px;">
                <button style="width: 80px;" @click="add()">Add...</button>
            </div>
            <ul class="list-base scripts-list">
                <li v-for="script in list">
                    <button @click="edit(script.name)">Edit</button>
                    <button @click="remove(script.name)">Remove</button>
                    <select v-model="script.key" @change="assign(script)">
                        <option value="-1">&lt;Assign to key bind...&gt;</option>
                        <option value="0">Key 0</option>
                        <option value="1">Key 1</option>
                        <option value="2">Key 2</option>
                        <option value="3">Key 3</option>
                        <option value="4">Key 4</option>
                        <option value="5">Key 5</option>
                        <option value="6">Key 6</option>
                        <option value="7">Key 7</option>
                        <option value="8">Key 8</option>
                        <option value="9">Key 9</option>
                        <option value="10">Key 10</option>
                        <option value="11">Key 11</option>
                        <option value="12">Key 12</option>
                        <option value="13">Key 13</option>
                        <option value="14">Key 14</option>
                        <option value="15">Key 15</option>
                        <option value="16">Key 16</option>
                        <option value="17">Key 17</option>
                        <option value="18">Key 18</option>
                        <option value="19">Key 19</option>
                        <option value="20">Key 20</option>
                        <option value="21">Key 21</option>
                        <option value="22">Key 22</option>
                        <option value="23">Key 23</option>
                        <option value="24">Key 24</option>
                        <option value="25">Key 25</option>
                        <option value="26">Key 26</option>
                        <option value="27">Key 27</option>
                        <option value="28">Key 28</option>
                        <option value="29">Key 29</option>
                    </select>
                    <span>{{ script.name }}</span>
                </li>
            </ul>
        </div>
        <div v-if="mode == 'add' || mode == 'edit'">
            <div style="padding-bottom: 16px;">
                <button style="width: 200px;" @click="mode = 'list'">Back</button>
                <button style="width: 200px;" @click="save()">Save</button>
                <button style="width: 200px;" @click="showApiRef()">Show/Hide API Reference</button>
            </div>
            <div>
                <span class="text">Name:</span>
                <input type="text" v-model="script.name">
            </div>
            <div v-show="!showRefs">
                <div>
                    <span class="text">Code:</span>
                </div>
                <div>
                    <script-editor v-model="script.code" :type="'KEYBINDING'"></script-editor>
                </div>
            </div>
            <div v-show="showRefs">
                <ul class="refs">
                    <li v-for="item in refs" v-html="item"></li>
                </ul>
            </div>
        </div>
    </fieldset>
</div>