<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">Kill Aura</h2>
        <div class="description">
            Automatically attacks entities in range with current item in hand.
        </div>

        <div class="module-sections">
            <div>
                <label class="switch-label">
                    <input type="checkbox" class="switch"
                        v-model="config.enabled"
                        @change="update()">
                    <span>Enabled</span>
                </label>
            </div>

            <fieldset>
                <legend>
                    Tick Interval
                </legend>
                <div class="input-section">
                    <input type="text" v-model="config.attackTickInterval" @change="update()">
                    <div class="section-description">
                        How often kill aura attacks. 1 = fastest (attack every tick), 20 = attack once a second and so on. In other words: attack every X ticks.
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    Max Range
                </legend>
                <div class="input-section">
                    <input type="text" v-model="config.maxRange" @change="update()">
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    Limit target coverage by angle
                </legend>
                <div class="input-section">
                    <div>
                        <span class="field-description">Delta horizontal angle:</span>
                        <input type="text" v-model="config.maxHorizontalAngle" @change="update()">
                    </div>
                    <div>
                        <span class="field-description">Delta vertical angle:</span>
                        <input type="text" v-model="config.maxVerticalAngle" @change="update()">
                    </div>
                    <div class="section-description">
                        In degrees. Value 180 means no limit. But it is better to leave field(s) empty for this purpose.<br>
                        For every possible target module calculates how far you need to rotate to attack target. If this angle exceeds specified limit, module will not attack this target.<br>
                        Note: module is not smart enough to attack on edges of hitbox. It always attacks center of entities bounding box. Angle is measured relatively to this point.
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.attackAll"
                            @change="update()">
                        <span>Attack multiple targets per tick</span>
                    </label>
                </legend>
                <div class="section-description">
                    Module attack all targets in range. Only first target (closest) receives full damage.
                </div>
            </fieldset>

            <fieldset v-if="priorityList">
                <legend>Priorities</legend>

                <div v-if="state == 'list'">
                    <button @click="openAddNew()">Add Priority Entry</button>
                    <button @click="openCreateNewCustomEntry()">Create Custom Priority Entry...</button>
                </div>
                <ul class="kill-aura-priority-list" v-if="state == 'list'">
                    <li v-for="(entry, index) in config.priorities">
                        <div class="c0">
                            <input type="checkbox" class="switch"
                                v-model="entry.enabled"
                                @change="update()">
                        </div>
                        <div class="c1">
                            <div class="text">{{ entry.name }}</div>
                            <div class="smaller">{{ entry.description }}</div>
                        </div>
                        <div class="c2">
                            <button @click="moveUp(index)">🡅</button>
                            <button @click="moveDown(index)">🡇</button>
                            <button @click="removePriorityEntry(index)">Remove</button>
                        </div>
                    </li>
                </ul>

                <div v-if="state == 'add'">
                    <button @click="state = 'list'">Back to list</button>
                </div>
                <div style="padding-top: 16px;" v-if="state == 'add'">
                    <span class="text">Filter:</span>
                    <input type="text" class="search"
                        v-model="search"
                        @input="filterPriorityList()">
                </div>
                <ul class="kill-aura-priority-list" v-if="state == 'add'">
                    <li v-for="entry in priorityListFiltered">
                        <div class="c1">
                            <div class="text">{{ entry.name }}</div>
                            <div class="smaller">{{ entry.description }}</div>
                        </div>
                        <div class="c2">
                            <button class="add-button" @click="deleteCustomEntry(entry)" v-if="entry.className && !entryInPrioritiesList(entry)">Delete</button>
                            <button class="add-button" @click="addPriorityEntry(entry)" v-if="!entryInPrioritiesList(entry)">Add</button>
                        </div>
                    </li>
                </ul>

                <div v-if="state == 'create-custom'">
                    <div>
                        <button @click="state = 'list'">Back to list</button>
                        <button @click="createNewCustomEntry()">Create</button>
                    </div>
                    <div style="margin-top: 16px;">
                        <span class="text">Entry Name:</span>
                        <input type="text" class="search" v-model="newCustomEntry.name">
                    </div>
                    <div>
                        <span class="text">Description:</span>
                        <input type="text" class="search" v-model="newCustomEntry.description">
                    </div>
                    <div>
                        <span class="text">Class Name:</span>
                        <input type="text" class="search" v-model="newCustomEntry.className">
                    </div>
                    <div class="section-description">
                        You can copy class name from Entity ESP all entities list. Example: net.minecraft.world.entity.animal.Cow
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
</div>