<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">No Fall</h2>
        <div class="description">
            When you are falling fast enough to take damage, it sends information to server that you are staying on the ground. Server uses this information to calculate fall damage. If server doesn't have protection against this usually you take no fall damage.
        </div>

        <div class="module-sections">
            <label class="switch-label">
                <input type="checkbox" class="switch"
                    v-model="config.enabled"
                    @change="update()">
                <span>Enabled</span>
            </label>
        </div>
    </div>
</div>
