<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <div class="module-main" v-if="loaded">
        <h2 class="module-header">Profiles</h2>
        <div class="description">
            Create profile with different settings and switch between them.<br>
            You can use <b>profiles</b> API to switch profiles from scripts.<br>
            You can use <b>events.onJoinServer</b> from Events Scripting module to automatically load profile based on server and/or Minecraft account.
        </div>

        <div class="module-sections">
            <div style="display: flex; flex-direction: row; height: 32px; gap: 16px;">
                <select style="width: 200px;" v-model="selectedProfile" @change="change()">
                    <option value="">&lt;Default&gt;</option>
                    <option v-for="profile in profiles" :value="profile">{{ profile }}</option>
                </select>
                <button style="width: 200px;" v-if="selectedProfile != ''" @click="remove()">Delete</button>
            </div>
            <div>
                <input type="text" style="width: 200px;" v-model="newProfile" @input="validate()">
                <div class="input-description" v-if="!isValidName">
                    Should be non-empty, characters
                    <kbd>\</kbd>
                    <kbd>/</kbd>
                    <kbd>:</kbd>
                    <kbd>*</kbd>
                    <kbd>?</kbd>
                    <kbd>"</kbd>
                    <kbd>&lt;</kbd>
                    <kbd>&gt;</kbd>
                    <kbd>|</kbd>
                    are not allowed.
                </div>
            </div>
            <div>
                <button :disabled="!isValidName" @click="createCopy()">Copy current into new profile</button>
                <button :disabled="!isValidName" @click="createNew()">Create blank new profile</button>
            </div>
        </div>
    </div>
</div>