<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
        <button style="width: 200px;" @click="clear()">Clear</button>
    </div>
    <div class="module-main" v-if="config">
        <h2 class="module-header">Schematica</h2>
        <div class="description">
            ?
        </div>

        <div class="module-sections">
            <div>
                <label class="switch-label">
                    <input type="checkbox" class="switch"
                        v-model="config.enabled"
                        @change="update()">
                    <span>Enabled</span>
                </label>
            </div>

            <fieldset>
                <legend>
                    Missing Blocks
                </legend>
                <div class="input-section input-section-flex">
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.showMissingBlockGhosts"
                            @change="update()">
                        <span>Show as ghost blocks</span>
                    </label>
                    <div>
                        <span class="field-description">Max distance:</span>
                        <input type="text" v-model="config.missingBlockGhostsMaxDistance" @change="update()">
                    </div>
                </div>
                <div class="input-section input-section-flex">
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.showMissingBlockTracers"
                            @change="update()">
                        <span>Show tracers</span>
                    </label>
                    <div>
                        <span class="field-description">Max distance:</span>
                        <input type="text" v-model="config.missingBlockTracersMaxDistance" @change="update()">
                    </div>
                </div>
                <div class="input-section input-section-flex">
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.showMissingBlockCubes"
                            @change="update()">
                        <span>Show mini-cubes</span>
                    </label>
                    <div>
                        <span class="field-description">Max distance:</span>
                        <input type="text" v-model="config.missingBlockCubesMaxDistance" @change="update()">
                    </div>
                </div>
                <div class="section-description">
                    Missing Blocks: real world block = replacable, schematica block != Air
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    Wrong Blocks
                </legend>
                <div class="input-section">
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                               v-model="config.replaceableAsAir"
                               @change="update()">
                        <span>Treat replaceable blocks as air (e.g. snow, water, grass). Requires rescan.</span>
                    </label>
                </div>
                <div class="input-section">
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                               v-model="config.airAlwaysValid"
                               @change="update()">
                        <span>Air blocks in schematica are always valid. Requires rescan.</span>
                    </label>
                </div>
                <div class="input-section input-section-flex">
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.showWrongBlockTracers"
                            @change="update()">
                        <span>Show tracers</span>
                    </label>
                    <div>
                        <span class="field-description">Max distance:</span>
                        <input type="text" v-model="config.wrongBlockTracersMaxDistance" @change="update()">
                    </div>
                </div>
                <div class="input-section input-section-flex">
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.showWrongBlockCubes"
                            @change="update()">
                        <span>Show mini-cubes</span>
                    </label>
                    <div class="input-section">
                        <span class="field-description">Max distance:</span>
                        <input type="text" v-model="config.wrongBlockCubesMaxDistance" @change="update()">
                    </div>
                </div>
                <div class="section-description">
                    Wrong Blocks: real world block != schematica block and real world block != Air
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                            v-model="config.autoBuild"
                            @change="update()">
                        <span>Auto Build</span>
                    </label>
                </legend>
                <div class="input-section">
                    <span class="field-description">Max Build Distance:</span>
                    <input type="text" v-model="config.maxRange" @change="update()">
                </div>
                <div class="input-section">
                    <span class="field-description">Use hotbar slots:</span>
                    <input type="text" v-model="slots" @change="onSlotsUpdate()">
                    <div class="input-description">Separated by comma. Example: 6,7,8</div>
                </div>
                <div class="input-section">
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                               v-model="config.useShift"
                               @change="update()">
                        <span>Use Shift while placing blocks</span>
                    </label>
                </div>
                <div class="section-description">
                    Max Build Distance - distance between player eyes and center of block module will try to place.<br>
                    Using shift may cause your character to randomly crouch for a fraction of a second.
                </div>
                <div class="input-section">
                    <label class="switch-label">
                        <input type="checkbox" class="switch"
                               v-model="config.attachToAir"
                               @change="update()">
                        <span>Attach to Air</span>
                    </label>
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    File
                </legend>
                <div class="input-section">
                    <input type="file" ref="fileInput" @change="onFileSelected()">
                </div>
                <div v-if="schematic" class="schematic-info">
                    <div>
                        Size: W={{ schematic.width }} H={{ schematic.height }} L={{ schematic.length }}
                    </div>
                    <div>
                        Palette:
                    </div>
                    <table v-if="schematic.palette.length != 65536">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Count</td>
                                <td>Block</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in schematic.paletteMap">
                                <td>{{ item.id }}</td>
                                <td>{{ item.count }}</td>
                                <td>
                                    <input type="text" v-model="item.block">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table v-if="schematic.palette.length == 65536">
                        <thead>
                            <tr>
                                <td>ID1</td>
                                <td>ID2</td>
                                <td>Count</td>
                                <td>Block</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in schematic.paletteMap">
                                <td>{{ item.id >> 8 }}</td>
                                <td>{{ item.id & 0xFF }}</td>
                                <td>{{ item.count }}</td>
                                <td>
                                    <input type="text" v-model="item.block">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="section-description">
                    Supported formats: .schematic, .litematic
                </div>
            </fieldset>

            <fieldset v-if="schematic">
                <legend>
                    <button @click="place()">Place in the World</button>
                </legend>
                <div class="input-section">
                    <table>
                        <colgroup>
                            <col style="width: 24px;">
                            <col style="width: 220px;">
                            <col style="width: 160px;">
                            <col style="width: 80px;">
                            <col style="width: 80px;">
                            <col style="width: 80px;">
                            <col style="width: 80px;">
                            <col style="width: 80px;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="field-description">X:</span>
                                </td>
                                <td>
                                    <input type="text" v-model="placing.x">
                                </td>
                                <td>
                                    <label class="switch-label">
                                        <input type="checkbox" class="switch" v-model="placing.flipX">
                                        <span>Flip X</span>
                                    </label>
                                </td>
                                <td>
                                    <span class="field-description">Rotate X:</span>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-x" v-model="placing.rotateX" v-bind:value="-90">
                                        <span class="text">-90°</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-x" v-model="placing.rotateX" v-bind:value="0">
                                        <span class="text">0°</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-x" v-model="placing.rotateX" v-bind:value="90">
                                        <span class="text">90°</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-x" v-model="placing.rotateX" v-bind:value="180">
                                        <span class="text">180°</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="field-description">Y:</span>
                                </td>
                                <td>
                                    <input type="text" v-model="placing.y">
                                </td>
                                <td>
                                    <label class="switch-label">
                                        <input type="checkbox" class="switch" v-model="placing.flipY">
                                        <span>Flip Y</span>
                                    </label>
                                </td>
                                <td>
                                    <span class="field-description">Rotate Y:</span>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-y" v-model="placing.rotateY" v-bind:value="-90">
                                        <span class="text">-90°</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-y" v-model="placing.rotateY" v-bind:value="0">
                                        <span class="text">0°</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-y" v-model="placing.rotateY" v-bind:value="90">
                                        <span class="text">90°</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-y" v-model="placing.rotateY" v-bind:value="180">
                                        <span class="text">180°</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="field-description">Z:</span>
                                </td>
                                <td>
                                    <input type="text" v-model="placing.z">
                                </td>
                                <td>
                                    <label class="switch-label">
                                        <input type="checkbox" class="switch" v-model="placing.flipZ">
                                        <span>Flip Z</span>
                                    </label>
                                </td>
                                <td>
                                    <span class="field-description">Rotate Z:</span>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-z" v-model="placing.rotateZ" v-bind:value="-90">
                                        <span class="text">-90°</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-z" v-model="placing.rotateZ" v-bind:value="0">
                                        <span class="text">0°</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-z" v-model="placing.rotateZ" v-bind:value="90">
                                        <span class="text">90°</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="rotate-z" v-model="placing.rotateZ" v-bind:value="180">
                                        <span class="text">180°</span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>