<div>
    <div>
        <button style="width: 200px;" @click="$emit('back')">Back</button>
    </div>
    <fieldset style="padding-top: 16px;" v-if="config">
        <legend>User Name</legend>
        <div class="description">
            Change user name without restarting Minecraft. This is only for pirate servers, it cannot work with Mojang authentication.
        </div>
        <div>
            <label class="switch-label">
                <input type="checkbox" class="switch"
                    v-model="config.enabled"
                    @change="update()">
                <span>Enabled</span>
            </label>
        </div>
        <div>
            <span class="text">Name:</span>
            <input type="text" v-model="config.name" @change="update()">
        </div>
        <div>
            <label class="switch-label">
                <input type="checkbox" class="switch"
                    v-model="config.showNameInTitle"
                    @change="update()">
                <span>Show User Name in Title</span>
            </label>
        </div>
    </fieldset>
</div>