<div class="color-picker">
    <canvas></canvas>
    <div class="c2">
        <div class="c3">
            <div class="sliders">
                <div class="slider">
                    <div>R</div>
                    <input type="range" class="r" min="0" max="255">
                    <input type="number" class="r" min="0" max="255">
                </div>
                <div class="slider">
                    <div>G</div>
                    <input type="range" class="g" min="0" max="255">
                    <input type="number" class="g" min="0" max="255">
                </div>
                <div class="slider">
                    <div>B</div>
                    <input type="range" class="b" min="0" max="255">
                    <input type="number" class="b" min="0" max="255">
                </div>
            </div>
            <div class="sliders">
                <div class="slider">
                    <div>H</div>
                    <input type="range" class="h" min="0" max="359">
                    <input type="number" class="h" min="0" max="359">
                </div>
                <div class="slider">
                    <div>S</div>
                    <input type="range" class="s" min="0" max="100">
                    <input type="number" class="s" min="0" max="100">
                </div>
                <div class="slider">
                    <div>V</div>
                    <input type="range" class="v" min="0" max="100">
                    <input type="number" class="v" min="0" max="100">
                </div>
            </div>
        </div>
        <div class="color-picker-box">
            Text Text Text Text Text
            <div></div>
        </div>
        <div class="c4">
            <div class="slider">
                <div>A</div>
                <input type="range" class="a" min="0" max="255">
                <input type="number" class="a" min="0" max="255">
            </div>
            <input type="text">
        </div>
    </div>
</div>