div.scripts-list {
    border: 1px solid;
    flex-grow: 1;
    flex-basis: 15em;
    overflow-y: auto;
    font-family: var(--font2);
    border-color: var(--borderColorTop) var(--borderColorRight) var(--borderColorBottom) var(--borderColorLeft);
    box-shadow: .1em .1em .6em black;
    border-radius: 1em;
}

div.scripts-list > table {
    width: 100%;
    border-collapse: collapse;
}

div.scripts-list > table td {
    border-bottom: 0.1em solid var(--borderColorTop);
    padding: 0.5em 0.5em;
}

div.scripts-list td.script-name-cell {
    width: 90%;
}
