<div class="module-main" v-if="config">
    <div class="description">
        
    </div>

    <div class="module-sections">
        <div>
            <switch-checkbox v-model="config.enabled" @change="update()">Enabled</switch-checkbox>
        </div>

        <div class="actions">
            <button class="w8" @click="save()" v-if="config">Save</button>
            <button class="w12" @click="showApiRef()">Show/Hide API Reference</button>
        </div>

        <script-editor v-model="config.code" :type="'OVERLAY'" v-show="!showRefs"></script-editor>

        <ul class="refs" v-show="showRefs">
            <li v-for="item in refs" v-html="item"></li>
        </ul>
    </div>
</div>