ul.crystal-aura-targets {
    display: flex;
    gap: 0.5em;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.crystal-aura-targets > li {
    align-items: center;
    border: 0.2em solid var(--color1);
    border-radius: 1em;
    display: flex;
    gap: 0.25em;
    font-family: var(--font2);
    padding: 0em 0.5em;
}

ul.crystal-aura-targets > li.new {
    background-color: var(--color2);
    cursor: pointer;
}

ul.crystal-aura-targets > li.target {
    align-items: stretch;
    gap: 0;
    overflow: hidden;
    padding: 0;
}

ul.crystal-aura-targets > li.target > span.target-name {
    align-items: center;
    display: inline-flex;
    padding: 0 0.5em;
}

ul.crystal-aura-targets > li.target > button.remove {
    background: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    margin: 0;
    min-width: 1.6em;
    padding: 0;
    position: relative;
}

ul.crystal-aura-targets > li.target > button.remove::before {
    background-color: var(--color1);
    content: ' ';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0.15em;
}

ul.crystal-aura-targets > li.target > button.remove:hover {
    background-color: #bd9494;
}

ul.crystal-aura-targets > li.target > button.remove > span {
    inset: 0;
    pointer-events: none;
    position: absolute;
}

ul.crystal-aura-targets > li.target > button.remove > span::before,
ul.crystal-aura-targets > li.target > button.remove > span::after {
    background-color: #880000;
    border-radius: 0.05em;
    content: ' ';
    height: 0.6em;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 0.1em;
}

ul.crystal-aura-targets > li.target > button.remove > span::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

ul.crystal-aura-targets > li.target > button.remove > span::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

ul.crystal-aura-targets div.autocomplete > input {
    border: 0;
}