<div class="module-main" v-if="config">
    <div class="description">
        Crystal PvP
    </div>

    <div class="module-sections">
        <div>
            <switch-checkbox v-model="config.enabled" @change="update()">Enabled</switch-checkbox>
        </div>

        <fieldset>
            <legend>
                General
            </legend>
            <table>
                <tr>
                    <td style="text-align: right;">
                        <span class="field-description">Min Target Damage:</span>
                    </td>
                    <td>
                        <input type="text" class="w3" v-model="config.minTargetDamage" @change="update()">
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        <span class="field-description">Max Self Damage:</span>
                    </td>
                    <td>
                        <input type="text" class="w3" v-model="config.maxSelfDamage" @change="update()">
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        <span class="field-description">Crystal Age:</span>
                    </td>
                    <td>
                        <input type="text" class="w3" v-model="config.crystalAge" @change="update()">
                    </td>
                    <td>
                        <Description>
                            How old crystal should be so module considers to break it, in ticks
                            <template #additional>
                                Setting it more than Break Delay may cause module to place multiple crystals before breaking first of them.
                            </template>
                        </Description>
                    </td>
                </tr>
            </table>
        </fieldset>

        <fieldset>
            <legend>Targets</legend>
            <ul class="packed-list">
                <li class="new">
                    Add new...
                    <auto-complete></auto-complete>
                </li>
                <li v-for="type in config.targets">
                    {{ type }}
                    <div class="remove"></div>
                </li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.autoRotate" @change="update()">Auto-Rotate</switch-checkbox>
            </legend>
            <div class="section-description">
                Automatically rotates player to the direction of crystal placements, support block placements and crystal attacks
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.autoPlace" @change="update()">Auto-Place</switch-checkbox>
            </legend>
            <table v-if="config.autoPlace">
                <tr>
                    <td style="text-align: right;">
                        <span class="field-description">Range:</span>
                    </td>
                    <td>
                        <input type="text" class="w3" v-model="config.placeRange" @change="update()">
                    </td>
                    <td>
                        <Description>
                            Interaction range for placing crystals, in blocks
                            <template #additional>
                                Setting this more than Break Range may cause module to place multiple crystals before breaking one of them.
                                This is client-side max range for attempting crystal placement.
                                Servers may accept or reject different ranges depending on reach settings, lag compensation, and plugins.
                            </template>
                        </Description>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        <span class="field-description">Delay:</span>
                    </td>
                    <td>
                        <input type="number" class="w3" v-model="config.placeDelay" @change="update()">
                    </td>
                    <td>
                        <Description>
                            How many ticks to wait after crystal exploded before placing new one
                        </Description>
                    </td>
                </tr>
            </table>
        </fieldset>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.autoPlaceSupport" @change="update()">Auto-Support</switch-checkbox>
            </legend>
            <table v-if="config.autoPlaceSupport">
                <tr>
                    <td style="text-align: right;">
                        <span class="field-description">Delay:</span>
                    </td>
                    <td>
                        <input type="number" class="w3" v-model="config.placeSupportDelay" @change="update()">
                    </td>
                    <td>
                        <Description>
                            How many ticks to wait after placing support obisidian block, before placing crystal
                        </Description>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        <span class="field-description">Air Place:</span>
                    </td>
                    <td style="text-align: center;">
                        <div class="input-container w3">
                            <switch-checkbox v-model="config.airPlace" @change="update()"></switch-checkbox>
                        </div>
                    </td>
                    <td>
                        <Description>
                            Allows to place support obsidian not attached to anything
                        </Description>
                    </td>
                </tr>
            </table>
        </fieldset>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.autoBreak" @change="update()">Auto-Break</switch-checkbox>
            </legend>
            <table v-if="config.autoBreak">
                <tr>
                    <td style="text-align: right;">
                        <span class="field-description">Range:</span>
                    </td>
                    <td>
                        <input type="text" class="w3" v-model="config.breakRange" @change="update()">
                    </td>
                    <td>
                        <Description>
                            Interaction range for attacking crystals, in blocks
                            <template #additional>
                                This is client-side max range for attempting crystal attacks.
                                Servers may accept or reject different ranges depending on reach settings, lag compensation, and plugins.
                            </template>
                        </Description>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        <span class="field-description">Fast-Break:</span>
                    </td>
                    <td style="text-align: center;">
                        <div class="input-container w3">
                            <switch-checkbox v-model="config.fastBreak" @change="update()"></switch-checkbox>
                        </div>
                    </td>
                    <td>
                        <Description>
                            Break crystals as soon as they spawn
                            <template #additional>
                                In such case it ignores Delay and Crystal Age settings.<br>
                                Fast break is implicitly disabled when Auto-Rotate is ON.
                            </template>
                        </Description>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        <span class="field-description">Delay:</span>
                    </td>
                    <td>
                        <input type="number" class="w3" v-model="config.breakDelay" @change="update()">
                    </td>
                    <td>
                        <Description>
                            How many ticks to wait after placing crystal
                        </Description>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>