<div class="module-main">
    <div class="description">
        Emulates network lag.
        Once you enable this module all packets (server -> client and client -> server) are rejected and stored in buffer.
        As soon as you disable module all packets from buffer are processed. Your minecraft client receieves all skipped packets from server,
        and server receieves all packets from client with almost no delay between packets.
    </div>

    <div class="module-sections">
        <div class="description">
            Use API method to assign key bindings: <b>fakeLag.toggle();</b>
        </div>
    </div>
</div>