<div class="module-main" v-if="config">
    <div class="description">
        Automatically places blocks below the player. Module Automatically selects full blocks from your hotbar. It will not select stairs or slabs.
    </div>

    <div class="module-sections">
        <div>
            <switch-checkbox v-model="config.enabled" @change="update()">Enabled</switch-checkbox>
        </div>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.replaceBlocksFromInventory" @change="update()">Replace blocks from inventory on hotbar</switch-checkbox>
            </legend>
            <div class="section-description">
                If specific hotbar used for scaffold becomes empty, and you have the SAME blocks in inventory, they will be moved onto your hotbar.
            </div>
        </fieldset>

        <fieldset>
            <legend>
                Thresold distance
            </legend>
            <div class="flex-row">
                <span class="field-description">Distance:</span>
                <input type="text" class="w3" v-model="config.distance" @change="update()">
            </div>
            <div class="section-description">
                Thresold distance used to determine how far blocks can be placed. Range 0 - 0.5.<br>
                0 - means place block only if center of player lie above empty block.
                0.5 - means place any blocks tangent to circle with radius 0.5 and centered with player center.
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.attachToAir" @change="update()">Attach to air</switch-checkbox>
            </legend>
            <div class="section-description">
                If there is no blocks to attach new block, module attempts to attach block to air blocks. May not work on your server.
            </div>
        </fieldset>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.keepSelectedSlot" @change="update()">Keep Selected Slot</switch-checkbox>
            </legend>
            <div class="section-description">
                Module places blocks "transparently", meaning it will not change selected slot on hotbar.
            </div>
        </fieldset>
    </div>
</div>