<div class="module-main" v-if="config">
    <div class="description">
        <div>
            Hover mouse cursor over shulker box in inventory to see shulker content.
        </div>
        <div>
            Hold Ctrl while tooltip is active to lock tooltip in place.
            After this you can hover mouse cursor over items in shulker box.
        </div>
        <div>
            With "Show Original Tooltip" you will see both tooltips at the same time.
        </div>
    </div>

    <div class="module-sections">
        <div>
            <switch-checkbox v-model="config.enabled" @change="update()">Enabled</switch-checkbox>
        </div>
        <div>
            <switch-checkbox v-model="config.showOriginal" @change="update()">Show Original Tooltip</switch-checkbox>
        </div>
    </div>
</div>